<div class="tab-pane" id="v-pills-active" role="tabpanel">
<div class="lds-roller" *ngIf="!loaderFinished">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorBlogActive">
{{errorBlogActive}}
</div>
<div class="row" *ngIf="loaderFinished">
<div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let blog of myBlogActive; let i = index">
<div class="card">
<img class="card-img-top" src="{{blog.image}}" alt="theme-item">
<div class="card-body">
<h5 class="card-title text-center"><a (click)="gotoBlog(blog.id,blog.slug)">{{blog.title}}</a> </h5>
<p class="card-text">

<p class="text-center m-2"><span class="badge badge-info">{{articlesActiveCategory[i]}}</span></p>


</div>
</div>
<div class="row">
<button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit(blog.category_id,blog.id,blog.slug)"> تعديل المدونه </button>
<button type="button" class="btn btn-outline-danger border-0" (click)="deleteBlog(myBlogActive,blog.id, i, articlesActiveCategory)"> حذف المدونه </button>
</div>
</div>

</div>


</div>
<div id="toast"></div>
