<section id="theme-id-container">
  <div class="theme-id">
    <div class="container">
      <div class="row head">
        <div class="col-sm-12">
          <h4>{{blog.title}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div id="theme-content">
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-tabs" id="theme-details-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">تفاصيل المدونه</a>
          </li>

        </ul>
        <div class="lds-roller" *ngIf="!loaderFinished">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="tab-content pt-3" id="theme-details-tabs-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="preview-container">
              <img src="{{blog.image}}" id="cover">
            </div>
            <div class="container mt-5 content-container">
              <div class="row">
             <div class="col-sm-12 text-center">
               <h4 class="pb-3 m-auto">{{blog.title}}</h4>
               <p class="text-muted">
                 {{blog.description}}
               </p>
             </div>
                <div class="col-sm-12 text-center">
                <p class="text-muted" [innerHTML]="blog.content">
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="related-posts">

        <div class="card ml-2 mb-3 ads" *ngFor="let adv of advs">
          <img *ngIf="adv.type === 'image'" class="card-img-top" (click)="openAd(adv.url)" height="300px" src="{{adv.file}}" alt="related-posts">
          <video *ngIf="adv.type === 'video'" controls src="{{adv.file}}" height="300px"></video>
        </div>
      </div>
    </div>
  </div>


</section>

