$main-color: #1872bf
.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
  .card
    .card-img-top
      height: 150px
    .card-body
      button
        display: block
        margin: auto
        border-radius: 20px
      .card-title
        a
          color: $main-color
          cursor: pointer
.fa-clock
  font-size: 30px
.card-title
  a
    color: $main-color!important
    cursor: pointer
#toast
  position: fixed
  top: 0
  left: 50%
  transform: translate(-50%)
  background-color: #00b894
  color: #fff
  padding: 20px
  border-radius: 4px
  text-align: center
  z-index: 1
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
  visibility: hidden
  opacity: 0
  &.show
    visibility: visible
    animation: fadeInOut 3s

@keyframes fadeInOut
  5%,95%
    opacity: 1
    top: 50px

  15%,85%
    opacity: 1
    top: 30px
.card-img-top
  height: 150px
.lds-roller
  display: block
  position: absolute
  width: 64px
  top: 50%
  right: 50%
  height: 64px
  margin: auto
.card-title
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  transition: 0.3s ease-in
  &:hover
    text-overflow: unset
    white-space: unset
select
  height: calc(2.25rem + 15px)
.btn-delete-feature
  background-color: transparent
  border: 0
  color: black
  cursor: pointer
  font-size: 20px
  position: absolute
  right: 15px
.btn
  display: block
  margin: auto
