<div class="lds-roller" *ngIf="!loaderFininshed">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="container" id="chat" *ngIf="loaderFininshed">
  <header class="row">
    <div class="col-sm-12">
      <h5>{{categoryData.name}}</h5>
    </div>
  </header>
  <main *ngIf="!formOpened">
  <p class="text-center mt-4">
    {{categoryData.description}}
  </p>
  <button class="btn btn-outline-dark mt-3 mb-2" (click)="formOpened = !formOpened">فتح تذكره</button>
  </main>
    <div *ngIf="formOpened" class="mt-4">
      <button type="button" (click)="formOpened = !formOpened" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <form [formGroup]="ticketForm" (ngSubmit)="ticketSubmit()">
        <div class="form-group">
          <label for="mail">العنوان</label>
          <input type="text" class="form-control" placeholder="مشكله في قالب" id="mail" formControlName="title" required>
        </div>

        <div class="form-group">
          <label for="password">السبب</label>
          <input type="text" class="form-control" placeholder="خطأ في تركيب قالب" id="password" formControlName="reason" required>
        </div>

        <button type="submit" class="btn btn-primary">فتح التذكره </button>

      </form>
      <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="success === false">
        {{errorDate}}
      </div>
      <div class="alert alert-success text-center mt-2" role="alert" *ngIf="success">
        تم اضافه التذكره بنجاح
      </div>

    </div>


</div>
