#chat {
  border: 1px solid #eeee;
  padding: 20px; }
  #chat header {
    background-color: rgba(214, 215, 219, 0.38);
    padding: 10px; }

.btn {
  margin: auto;
  display: block; }

form {
  border: 1px solid #eeee;
  padding: 20px;
  box-shadow: 1px 2px 1px 1px #eeee;
  width: 80%;
  margin: auto; }

.close {
  outline: 0; }

/*# sourceMappingURL=user-tickets-category-details.component.css.map */
