<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/">
    <img src="../../favicon.png">
  </a>

  <div class="hamburger" data-toggle="collapse" data-target="#navbar-mobile" >
    <span class="hamburger__top-bun"></span>
    <span class="hamburger__bottom-bun"></span>
  </div>

  <div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="services" routerLinkActive="active">الخدمات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="themes" routerLinkActive="active">القوالب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="articles" routerLinkActive="active">الشروحات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog" routerLinkActive="active">المدونه</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="learning" routerLinkActive="active">الدورات التعليميه</a>
      </li>
      <li class="nav-item" *ngIf="user && user !== undefined">
        <a class="nav-link" routerLink="user/tickets"  routerLinkActive="active"> <i class="fas fa-life-ring" style="margin-left: 5px; color: rgba(255, 87, 34, 0.57)"></i>الدعم الفني</a>

      </li>
      <li class="nav-item-custom not-user" *ngIf="!user && user !== undefined">
        <a class="nav-link" routerLink="register/user" routerLinkActive="active"><i class="fas fa-user-plus"></i> حساب جديد </a>
      </li>
      <li class="nav-item-custom not-user" *ngIf="!user && user !== undefined">
        <a class="nav-link" routerLink="login" routerLinkActive="active">  <i class="fas fa-sign-in-alt"></i>دخول</a>

      </li>
      <li class="nav-item-custom not-user" *ngIf="user && user !== undefined">
        <a class="nav-link" routerLink="user/notifications"  routerLinkActive="active"> <i class="fas fa-bell"></i>الاشعارات<span class="badge badge-danger mr-1" *ngIf="notificationCount > 0 && notificationCount !== undefined">{{notificationCount}}</span></a>
      </li>


      <li class="nav-item-custom user" *ngIf="user && user !== undefined">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">{{currentUser}} </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="user/services"  routerLinkActive="active"> خدماتي</a>
          <a class="dropdown-item" routerLink="user/themes"  routerLinkActive="active"> القوالب</a>
          <a class="dropdown-item" routerLink="user/articles"  routerLinkActive="active"> الشروحات</a>
          <a class="dropdown-item" routerLink="user/blog"  routerLinkActive="active"> المدونه</a>
          <a class="dropdown-item" routerLink="user/courses"  routerLinkActive="active"> دوراتي</a>


          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="user/settings"  routerLinkActive="active"><i class="fas fa-wrench"></i>اعدادات الحساب</a>
          <a class="dropdown-item" routerLink="user/statistics"  routerLinkActive="active"> <i class="fab fa-buromobelexperte"></i>الاحصائيات والرصيد</a>
          <a class="dropdown-item" routerLink="user/purchases"  routerLinkActive="active"> <i class="fas fa-shopping-cart"></i>المشتريات</a>
          <a class="dropdown-item" routerLink="user/messages"  routerLinkActive="active"> <i class="fas fa-comments"></i>الرسائل</a>
        </div>
      </li>

      <li class="nav-item-custom user" *ngIf="user && user !== undefined">
        <a class="nav-link" (click)="logout()"> خروج <i class="fas fa-sign-out-alt"></i>  </a>

      </li>

    </ul>

  </div>
</nav>

