img {
  width: 50%; }

.navbar-nav .nav-item {
  transition: 0.2s ease-in;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; }
  .navbar-nav .nav-item:hover {
    border-color: #eeeeee; }
    .navbar-nav .nav-item:hover a {
      color: #0068da; }
  .navbar-nav .nav-item a {
    color: black; }
  .navbar-nav .nav-item .active {
    border-top: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
    color: #0068da !important; }

.navbar-collapse {
  text-align: center; }

.nav-item-custom {
  border: 1px solid #eeeeee;
  margin-left: 5px;
  transition: 0.3s ease-in; }
  .nav-item-custom a {
    color: black;
    cursor: pointer; }
    .nav-item-custom a i {
      margin-left: 5px; }
  .nav-item-custom:hover {
    background-color: #eeeeee; }
  .nav-item-custom .active {
    background-color: #eeeeee !important; }

.user i {
  margin-right: 5px; }
.user .fa-sign-out-alt {
  transform: rotate(180deg); }
.user .dropdown-menu {
  text-align: center; }

.hamburger {
  cursor: pointer;
  position: absolute;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
  left: 0;
  top: 0; }

.hamburger__top-bun, .hamburger__bottom-bun {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  width: 18px;
  height: 1px;
  background: black;
  transform: rotate(0);
  transition: all 0.25s; }

.hamburger:hover [class*="-bun"] {
  background: #999; }

.hamburger__top-bun {
  top: 23px;
  transform: translateY(-3px); }

.hamburger__bottom-bun {
  bottom: 23px;
  transform: translateY(3px); }

.open {
  transform: rotate(90deg); }
  .open .hamburger__top-bun {
    transform: rotate(45deg) translateY(0px); }
  .open .hamburger__bottom-bun {
    transform: rotate(-45deg) translateY(0px); }

@media screen and (min-width: 992px) {
  .hamburger {
    display: none; }

  .dropdown-menu {
    left: 120px; } }

/*# sourceMappingURL=header.component.css.map */
