<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
              <ul>
                <li *ngFor="let page of footerPages?.section1">
                  <a routerLink="footer/{{page.id}}">{{page.title}}</a>
                </li>
              </ul>

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <ul>
              <li *ngFor="let page of footerPages?.section2">
                <a routerLink="footer/{{page.id}}">{{page.title}}</a>
              </li>
            </ul>

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <ul>
              <li *ngFor="let page of footerPages?.section3">
                <a routerLink="footer/{{page.id}}">{{page.title}}</a>
              </li>
            </ul>

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-pad">
            <ul>
              <li *ngFor="let page of footerPages?.section4">
                <a routerLink="footer/{{page.id}}">{{page.title}}</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"
          style="width: 100%; height: 100%"
          >

            <agm-marker
              [latitude]="lat"
              [longitude]="lng">

              <agm-info-window>
                <strong>بالمجان</strong>
              </agm-info-window>

            </agm-marker>
          </agm-map>

        </div>

        <div class="col-sm-12 col-md-6">
         <img src="../../favicon.png">
         <p class="text-center">
          <a> {{socialMedia?.address}} <i class="fas fa-map-marker-alt"></i></a><br>
          <a href="mailto:{{socialMedia?.email}}" class="text-primary"> {{socialMedia?.email}} <i class="fas fa-envelope"></i></a><br>
          <a href="tel:{{socialMedia?.mobile}}" class="text-primary">{{socialMedia?.mobile}} <i class="fas fa-phone"></i></a>
         </p>
          <ul class="social">
            <li>
                        <span class="fa-stack fa-lg">
            <a href="{{socialMedia?.youtube}}">
                <i class="fab fa-youtube"></i>
            </a>
</span>
            </li>
            <li>
                        <span class="fa-stack fa-lg">
        <a href="{{socialMedia?.instagram}}">
            <i class="fab fa-instagram"></i>
        </a>
</span>
            </li>
            <li>
                        <span class="fa-stack fa-lg">
            <a href="{{socialMedia?.twitter}}"><i class="fab fa-twitter"></i></a>
</span>
            </li>
            <li>
                        <span class="fa-stack fa-lg">
            <a href="{{socialMedia?.facebook}}"><i class="fab fa-facebook-f"></i></a>
</span>
            </li>
            <li>
                        <span class="fa-stack fa-lg">
            <a href="{{socialMedia?.google}}"><i class="fab fa-google-plus-g"></i></a>
</span>
            </li>

          </ul>
        </div>
        <div class="col-sm-12 col-md-3 mt-md-5">
          <!--Footer Bottom-->
          <p id="company">&copy; تصميم وبرمجه <a href="www.serv5.com">سيرف فايف</a> </p>
        </div>

      </div>
    </div>
  </div>
</footer>
