footer {
  color: black;
  padding: 10px 0;
  background-color: #eeeeee; }
  footer img {
    width: 70%;
    display: block;
    margin: auto; }

.footer-bottom {
  background: #eeeeee;
  padding: 2em; }
  .footer-bottom a {
    color: black; }
  .footer-bottom p {
    text-align: left; }
  .footer-bottom ul {
    list-style-type: none; }

.footer-middle {
  background: #eeeeee;
  padding-top: 2em;
  color: black; }

.footer-pad {
  list-style-type: circle; }
  .footer-pad h5 {
    padding: 10px; }
  .footer-pad a {
    color: black;
    display: block;
    padding: 10px;
    transition: 0.3s ease-in; }
  .footer-pad li {
    transition: 0.3s ease-in; }
    .footer-pad li:hover {
      list-style-type: circle; }
      .footer-pad li:hover a {
        text-decoration: none;
        color: gray; }

.footer-bottom .container .row .rules li a {
  text-decoration: none;
  transition: 0.3s ease-in; }
  .footer-bottom .container .row .rules li a:hover {
    color: gray; }
.footer-bottom .container .row #company a {
  text-decoration: none;
  transition: 0.3s ease-in; }
  .footer-bottom .container .row #company a:hover {
    color: gray; }

.social {
  text-align: center; }
  .social li {
    display: inline-block;
    margin: 3px; }
    .social li .fa-stack {
      border: 2px solid white;
      border-radius: 50px;
      text-align: center;
      line-height: 1.7em; }
      .social li .fa-stack:hover a {
        color: white; }
    .social li a {
      font-size: 20px;
      color: black;
      transition: all 0.3s ease-in-out; }

@media screen and (max-width: 768px) {
  footer, .footer-bottom {
    padding: 0; }
    footer img, .footer-bottom img {
      width: 50%;
      display: block;
      margin: auto; }

  #company {
    text-align: center; }

  .footer-middle {
    display: none; }

  .rules {
    display: none; } }

/*# sourceMappingURL=footer.component.css.map */
