footer
  color: black
  padding: 10px 0
  background-color: #eeeeee
  img
    width: 70%
    display: block
    margin: auto


.footer-bottom
  background: #eeeeee
  padding: 2em
  a
    color: black
  p
    text-align: left
  ul
    list-style-type: none



.footer-middle
  background: #eeeeee
  padding-top: 2em
  color: black
.footer-pad
  h5
    padding: 10px
  ul
  list-style-type: circle
  a
    color: black
    display: block
    padding: 10px
    transition: 0.3s ease-in
  li
    transition: 0.3s ease-in
    &:hover
      list-style-type: circle
      a
        text-decoration: none
        color: gray
.footer-bottom
  .container
    .row
      .rules
        li
          a
            text-decoration: none
            transition: 0.3s ease-in
            &:hover
              color: gray
      #company
        a
          text-decoration: none
          transition: 0.3s ease-in
          &:hover
            color: gray



.social
  text-align: center
  li
    display: inline-block
    margin: 3px
    .fa-stack
      border: 2px solid white
      border-radius: 50px
      text-align: center
      line-height: 1.7em
      &:hover
        a
          color: white
    a
      font-size: 20px
      color: black
      transition: all 0.3s ease-in-out
@media screen and (max-width: 768px)
  footer, .footer-bottom
    padding: 0
    img
      width: 50%
      display: block
      margin: auto
  #company
    text-align: center
  .footer-middle
    display: none
  .rules
    display: none

