.row {
  margin-right: 0;
  margin-left: 0; }

#theme-details-tabs-content #home #preview-container {
  border: 5px solid #eeeeee;
  padding: 10px; }
  #theme-details-tabs-content #home #preview-container #cover {
    width: 100%; }
  #theme-details-tabs-content #home #preview-container .preview-btn {
    display: block;
    margin: auto; }
  #theme-details-tabs-content #home #preview-container #fancy {
    text-align: center; }
    #theme-details-tabs-content #home #preview-container #fancy .pre-img {
      width: 19%;
      margin-top: 3%;
      cursor: pointer;
      filter: brightness(50%);
      transition: 0.3s ease-in; }
      #theme-details-tabs-content #home #preview-container #fancy .pre-img:hover {
        filter: brightness(100%); }
    #theme-details-tabs-content #home #preview-container #fancy .active {
      filter: brightness(100%); }
  #theme-details-tabs-content #home #preview-container a {
    color: black; }
  #theme-details-tabs-content #home #preview-container .fa-star {
    color: grey; }

.content-container .list-group .list-group-item {
  border: 0; }

#comments form {
  width: 100%; }
#comments .form-control {
  background-color: #eeeeee; }
#comments .media {
  width: 100%; }
  #comments .media .media-body {
    border: 1px solid;
    padding: 15px; }
    #comments .media .media-body .user {
      color: black; }
    #comments .media .media-body .date {
      font-size: 0.8rem; }
#comments button {
  margin-bottom: 20px; }

#theme-content #related-posts h5 {
  background-color: #1872bf;
  color: white;
  margin-bottom: 0; }
#theme-content #related-posts #user-info {
  text-align: center; }
  #theme-content #related-posts #user-info img {
    width: 15%;
    margin: 10px auto;
    border-radius: 50%; }
#theme-content #related-posts a {
  color: #1872bf;
  font-size: 18px; }
#theme-content #related-posts span {
  display: block; }
#theme-content #related-posts .row {
  display: inline-flex; }

.btn-group {
  display: block;
  text-align: center; }
  .btn-group button {
    transition: 0.3s ease-in-out; }
    .btn-group button:hover {
      background-color: #1872bf;
      border-color: #1872bf; }

textarea {
  resize: vertical; }
  textarea .share {
    cursor: default !important; }
    textarea .share:hover {
      background-color: #6c757d !important;
      border-color: #6c757d !important; }

#related-post-different h5 {
  display: block;
  width: 100%; }

.related {
  height: 200px; }

#related-post-different a {
  color: #1872bf !important; }

a {
  cursor: pointer; }

#toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #00b894;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0; }
  #toast.show {
    visibility: visible;
    opacity: 1;
    animation: fadeInOut 3s; }

/*# sourceMappingURL=services-details.component.css.map */
