<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 content">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="timeline-wrapper" *ngIf="!loaderFinished">

        <div class="timeline-item">
          <div class="animated-background">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush mb-3 mr-md-5" id="main" *ngIf="loaderFinished">
        <h5 class="text-center mb-4">الاقسام</h5>
        <a routerLink="./{{cat.id}}" *ngFor="let cat of categories" class="list-group-item list-group-item-action list-group-item-secondary">
          <div class="text-left font-weight-bold">
            <p class="text-center">{{cat.name}}</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 mt-sm-2">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>

