<div class="tab-pane" id="v-pills-active" role="tabpanel">
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorThemesActive">
    {{errorThemesActive}}
  </div>
  <div class="row" *ngIf="loaderFinished" >
    <div class="col-md-6 col-sm-12 mb-2" *ngFor="let theme of myThemesActiveFree; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{theme.image}}" alt="theme-item">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="gotoTheme('free',theme.id,theme.slug)">{{theme.title}}</a> </h5>
          <p class="text-center m-2">عدد المشاهدات <span class="text-muted">{{theme.viewer_count}}</span></p>

          <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
          <p class="text-center m-2"><span class="badge badge-info">مجاني</span></p>


        </div>
      </div>
      <div class="row">

        <button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit('free',theme.id,theme.slug)"> تعديل القالب </button>
        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteTheme(myThemesActiveFree,theme.id, i)"> حذف القالب </button>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mb-2" *ngFor="let theme of myThemesActivePaid; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{theme.image}}" alt="theme-item">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="gotoTheme('paid',theme.id,theme.slug)">{{theme.title}}</a> </h5>
          <p class="card-text">
          <p class="text-center m-2">التكلفه <span class="text-danger">{{theme.cost}}</span></p>

          <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
          <p class="text-center m-2"><span class="badge badge-danger">مدفوع</span></p>


        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit('paid',theme.id,theme.slug)"> تعديل القالب </button>
        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteTheme(myThemesActivePaid,theme.id, i)">  حذف القالب </button>
      </div>
    </div>
  </div>


</div>
<div id="toast"></div>
