.content {
  border: 1px solid #eeee;
  padding: 20px;
  box-shadow: 1px 2px 1px 1px #eeee;
  width: 50%;
  margin: auto; }
  .content .signUp {
    display: flex;
    justify-content: center; }

@media screen and (max-width: 993px) {
  .content {
    width: 100%; } }

/*# sourceMappingURL=user-tickets-home.component.css.map */
