<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 content">
    <div class="form-group">
      <label for="mail">الايميل</label>
      <input type="email" [(ngModel)]="email" class="form-control" id="mail" required>
    </div>

    <button type="submit" (click)="sendRequest()" class="btn btn-primary">طلب كلمه المرور </button>

  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successReset === false">
    {{errorMail}}
  </div>


  <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successReset">
    تم ارسال بريد الكترونى لإستعاده كلمة المرور
  </div>
</div>

