<section>
  <div class="theme-id">
    <div class="container">
      <div class="row" id="head">
        <div class="col-sm-12">
          <h4>{{pageTitle}}</h4>
        </div>
      </div>
    </div>
  </div>
<div class="row" id="pills">
  <div class="col-md-4 col-sm-12">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-essential" role="tab" aria-controls="v-pills-essential" aria-selected="true">البيانات الاساسيه</a>
      <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">كلمه المرور</a>

    </div>
  </div>
  <div class="col-md-8 col-sm-12 mt-sm-2">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-essential" role="tabpanel">
        <form [formGroup]="accountForm" (ngSubmit)="accountSubmit()">
          <div class="form-group mt-3">
            <label for="display">اسم المستخدم </label>
            <input type="text" class="form-control" id="display" formControlName="name">
          </div>
          <div class="form-group mt-3">
            <label for="phone">الهاتف</label>
            <input type="number" class="form-control" id="phone" formControlName="phone">
          </div>
          <div class="form-group mt-3">
            <label for="mail">البريد الالكتروني</label>
            <input type="text" class="form-control" id="mail" placeholder="example@aa.com" formControlName="email">
          </div>
          <div class="form-group mt-3">
            <label for="bio">معلومات عني</label>
            <textarea class="form-control" id="bio" rows="3" formControlName="bio"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">حفظ التغيرات</button>
      </form>
        <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successAccount === false">
           {{error}}
        </div>


        <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successAccount">
          تم التحديث بنجاح
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-password" role="tabpanel">
        <form [formGroup]="passwordForm" (ngSubmit)="passwordSubmit()">
          <div class="form-group mt-3">
            <label for="oldPassword">كلمه المرور القديمه </label>
            <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label for="newPassword">كلمه المرور الجديده </label>
              <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
            </div>
            <div class="col-md-6 col-sm-12">
              <label for="reNewPassword">اعاده كلمه المرور الجديده</label>
              <input type="password" class="form-control" id="reNewPassword" formControlName="reNewPassword">
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">حفظ التغيرات</button>
        </form>
        <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successPassword === false">
          {{errorPassword}}
        </div>


        <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successPassword">
          تم التحديث بنجاح
        </div>
      </div>

    </div>
  </div>
</div>
</section>
