.theme-id {
  background: #1872bf;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px; }
  .theme-id #head {
    color: white; }

#pills {
  margin-left: 0;
  margin-right: 0; }
  #pills .nav {
    border: 1px solid #eeeeee;
    padding: 20px; }
    #pills .nav a {
      margin: 10px; }
  #pills .tab-content {
    border: 1px solid #eeeeee;
    padding: 20px; }
  #pills .btn {
    display: block;
    margin: auto; }

/*# sourceMappingURL=notifications.component.csst.css.map */
