.theme-id {
  background: #1872bf;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px; }
  .theme-id #head {
    color: white; }

.container .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px; }

i {
  font-size: 10px; }

#main {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden; }
  #main .list-group-item-secondary {
    background-color: rgba(232, 232, 232, 0.21176);
    transition: 0.3s ease; }
    #main .list-group-item-secondary:hover {
      background-color: lightgrey; }

.activeNow {
  width: 10px;
  height: 10px;
  background-color: green;
  color: green;
  position: absolute;
  border-radius: 50%;
  left: 8px;
  top: 20px; }

/*# sourceMappingURL=user-messages.component.css.map */
