$main-color: #1872bf
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white

.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
i
  font-size: 10px
#main
  height: 400px
  overflow-y: auto
  overflow-x: hidden
  .list-group-item-secondary
    background-color: rgba(232, 232, 232, 0.21176470588235294)
    transition: 0.3s ease
    &:hover
      background-color: lightgrey

.activeNow
  width: 10px
  height: 10px
  background-color: green
  color: green
  position: absolute
  border-radius: 50%
  left: 8px
  top: 20px
