<section>
  <div class="theme-id">
    <div class="container">
      <div class="row" id="head">
        <div class="col-sm-12">
          <h4>{{pageTitle}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="alert-danger col-md-12 text-center" *ngIf="error">{{error}}</div>
  </div>

  <div class="row" id="pills">
    <div class="col-md-4 col-sm-12">
      <div class="timeline-wrapper" *ngIf="!loaderFinished">

        <div class="timeline-item">
          <div class="animated-background">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush mb-3 mr-md-5" id="main" *ngIf="loaderFinished && !error">

        <a routerLink="./conversation/{{person.receiver.id}}" class="list-group-item list-group-item-action list-group-item-secondary" *ngFor="let person of allPersons">
          <div class="text-left font-weight-bold"><span class="activeNow" *ngIf="person.is_user_online" title="نشط الان"></span>{{person.receiver.name}}<br> <i>{{person.receiver.email}}</i>
          <p class="text-left text-muted">{{person.lastMessage.text}}</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 mt-sm-2">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</section>
