<section>
  <div class="theme-id">
    <div class="container">
      <div class="row" id="head">
        <div class="col-sm-12">
          <h4>تحميل القالب </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
<div id="download1" *ngIf="download_mirror && loaderFinished">
      <div class="row related-posts">

        <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let theme of themes1">
          <div class="card">
            <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
            <div class="card-body">
              <h5 class="card-title text-center"><a (click)="slugifyThemes(theme.id, theme.type,theme.slug)">{{theme.title}}</a> </h5>
              <p class="card-text">
              <p class="text-center m-2">

                <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


              </p>

              <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
            </div>
          </div>
        </div>


      </div>
  <div class="row m-5 text-center download-container">
    <div class="col-md-12">
<a (click)="download_mirror = false; download_mirror1 = true;">اضغط هنا للاستمرار</a>
    </div>
  </div>
  <div class="row related-posts">

    <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let article of articles">
      <div class="card">
        <img class="card-img-top" src="{{article.image}}" alt="{{article.title}}">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="slugOthers('articles', article.id, article.slug)">{{article.title}}</a> </h5>
          <p class="card-text">


        </div>
      </div>
    </div>


  </div>
</div>
  <div  *ngIf="download_mirror1">
    <div class="row related-posts">

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let theme of themes2">
        <div class="card">
          <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a (click)="slugifyThemes(theme.id, theme.type,theme.slug)">{{theme.title}}</a> </h5>
            <p class="card-text">
            <p class="text-center m-2">

              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


            </p>

            <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
          </div>
        </div>
      </div>



    </div>
    <div class="row m-5 text-center download-container">
      <div class="col-md-12">
        <a (click)="download_mirror1 = false; download_mirror2 = true;">اضغط هنا للتحميل</a>
      </div>
    </div>
    <div class="row related-posts">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let course of courses">
        <div class="card training-item" [ngStyle]="{'background-image': 'url(' + course.image + ')'}">
          <a routerLink="../../../learning/{{course.slug}}/{{course.id}}" class="course-links">
            {{course.title}}
          </a>
          <div class="training-item-overlay" [style.backgroundColor] = course.color>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div  *ngIf="download_mirror2">
    <div class="row related-posts">

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let theme of themes3">
        <div class="card">
          <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a (click)="slugifyThemes(theme.id, theme.type,theme.slug)">{{theme.title}}</a> </h5>
            <p class="card-text">
            <p class="text-center m-2">

              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


            </p>

            <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
          </div>
        </div>
      </div>



    </div>
    <div class="row m-5 text-center download-container">
      <div class="col-md-12">
        <a (click)="download_mirror2 = false; download_mirror3 = true;">الدخول لصفحه التحميل</a>
      </div>
    </div>
    <div class="row related-posts">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let item of services[1].items[0]">
        <div class="card">
          <img class="card-img-top" src="{{item.image}}" alt="{{item.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="../../../services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.title}}</a> </h5>
            <p class="card-text text-center border-top buy">
              <a routerLink="../../../services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.used_count}} اشتروا هذه الخدمه</a>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div  *ngIf="download_mirror3">
    <div class="row related-posts">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let item of services[1].items[0]">
        <div class="card">
          <img class="card-img-top" src="{{item.image}}" alt="{{item.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="../../../services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.title}}</a> </h5>
            <p class="card-text text-center border-top buy">
              <a routerLink="../../../services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.used_count}} اشتروا هذه الخدمه</a>
            </p>
          </div>
        </div>
      </div>


    </div>
    <div class="row m-5 text-center download-container">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value"> <a (click)="downloadFile()">تحميل</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row related-posts">

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let item of services[2].items[0]">
        <div class="card">
          <img class="card-img-top" src="{{item.image}}" alt="{{item.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="../../../services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.title}}</a> </h5>
            <p class="card-text text-center border-top buy">
              <a routerLink="../../../services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.used_count}} اشتروا هذه الخدمه</a>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


