$main-color: #1872bf
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white
#drop
  cursor: pointer
  i
    position: absolute
    left: 15px
    font-size: 20px
.fa-plus
  position: absolute
  left: 51px
.custom-file
  label
    padding: .375rem 5.75rem!important
figure
  display: block
  margin: auto
  img
    width: 20%
    margin-top: 10px
#pills
  margin-left: 0
  margin-right: 0
  .nav
    border: 1px solid #eeeeee
    padding: 20px
    a
      margin: 10px
      color: white
      cursor: pointer!important
  .tab-content
    border: 1px solid #eeeeee
    padding: 20px
    margin-bottom: 5rem
  .btn
    display: block
    margin: auto

.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
  .card
    .card-img-top
      height: 150px
    .card-body
      button
        display: block
        margin: auto
        border-radius: 20px
      .card-title
        a
          color: $main-color
          cursor: pointer
.fa-clock
  font-size: 30px
.theme-images
  width: 200px
  margin-top: 10px
  margin-left: 10px
  height: 150px

.btn-delete
  background-color: transparent
  border: 0
  color: black
  cursor: pointer
  font-size: 20px
  position: absolute
  margin-right: -25px
  margin-top: 9px
.btn-delete-feature
  background-color: transparent
  border: 0
  color: black
  cursor: pointer
  font-size: 20px
  position: absolute
  right: 15px
.options
  position: absolute
  right: 45px
@media screen and (max-width: 600px)
  .options
    position: static
  .theme-images
    width: 50%
@media screen and (max-width: 500px)
  .options
    display: none
.card-title
  a
    color: $main-color!important
    cursor: pointer
.card-img-top
  height: 150px
select
  height: calc(2.25rem + 15px)
