<div class="theme-id" [style.opacity]="opacity">
  <div class="container">
    <div class="row" id="head">
      <div class="col-sm-12">
        <h4>{{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
  <h3 class="text-center">تعديل مدونه</h3>
<form [formGroup]="newForm" method="post" enctype="multipart/form-data" (ngSubmit)="newSubmit()">
  <div class="form-group mt-3" *ngIf="blogCategory">
    <label for="category">تصنيف المدونه </label>
    <select id="category" class="form-control">
      <option selected value="{{blogID}}">{{blogCategory}}</option>
      <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.title}}</option>
    </select>
  </div>
  <div class="form-group mt-3">
    <label for="display">اسم المدونه </label>
    <input type="text" placeholder="مدونه عن العزل الحراري" class="form-control" id="display" formControlName="name">
  </div>

  <div class="form-group mt-3">
    <label for="desc">تفاصيل المدونه </label>
    <ck-editor name="editor1" formControlName="content" id="desc" skin="moono-lisa" [fullPage]="true"></ck-editor>
  </div>

  <div class="custom-file mt-3">
    <input type="file" accept=".png, .jpg, .jpeg"  class="custom-file-input" id="customFile" #picked (change)="selectImage(picked)">
    <label class="custom-file-label" for="customFile"> الصوره الرئيسيه</label>
    <p class="text-danger text-center">{{imageError}}</p>
  </div>

  <figure class="text-center" *ngIf="!imageError">
    <img src="{{imageUrl}}">
  </figure>
  <button type="submit" class="btn btn-primary mt-2" [disabled]="!submitLoader">تعديل المدونه </button>
</form>
<div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successNew === false">
  {{addError}}
</div>



<div id="toast"></div>
<div class="lds-roller" id="loader-sumbit" *ngIf="!submitLoader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

