<div class="tab-pane" id="v-pills-active" role="tabpanel">
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorServicesActive">
    {{errorServicesActive}}
  </div>
  <div class="row" *ngIf="loaderFinished">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let service of myServicesActivePaid; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{service.image}}" alt="theme-item">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="gotoService(service.id,service.slug)">{{service.title}}</a> </h5>
          <p class="card-text">
          <p class="text-center m-2" *ngIf="service.cost === '0'"><span class="badge badge-info">مجاني</span></p>
          <p class="text-center m-2">عدد المشاهدات <span class="text-muted">{{service.viewer_count}}</span></p>

          <p class="text-center m-2" *ngIf="service.cost !== '0'">تكلفه الخدمه <span class="text-primary">{{service.cost}}</span></p>

        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit('free',service.id,service.slug)"> تعديل الخدمه </button>
        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteTheme(myServicesActivePaid,service.id, i)"> حذف الخدمه </button>
      </div>
    </div>

  </div>


</div>
<div id="toast"></div>
