.theme-id {
  background: #1872bf;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px; }
  .theme-id #head {
    color: white; }

#drop {
  cursor: pointer; }
  #drop i {
    position: absolute;
    left: 15px;
    font-size: 20px; }

.fa-plus {
  position: absolute;
  left: 51px; }

.custom-file label {
  padding: 0.375rem 5.75rem !important; }

figure {
  display: block;
  margin: auto; }
  figure img {
    width: 20%;
    margin-top: 10px; }

form {
  border: 2px solid #eeeeee;
  padding: 30px;
  border-radius: 0;
  margin: 30px; }

button {
  display: block;
  margin: auto;
  border-radius: 20px; }

#toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0; }
  #toast.show {
    visibility: visible;
    animation: fadeInOut 3s; }

@keyframes fadeInOut {
  5%,95% {
    opacity: 1;
    top: 50px; }
  15%,85% {
    opacity: 1;
    top: 30px; } }
.theme-images {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  height: 150px; }

.btn-delete {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin-right: -25px;
  margin-top: 9px;
  display: inline-table !important; }

.btn-delete-feature {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 35px; }

.options {
  position: absolute;
  right: 80px; }

@media screen and (max-width: 600px) {
  .options {
    position: static; }

  .theme-images {
    width: 50%; } }
@media screen and (max-width: 500px) {
  .options {
    display: none; } }
.card-img-top {
  height: 150px; }

#loader-sumbit {
  display: block;
  position: absolute;
  width: 64px;
  top: 50%;
  right: 50%;
  height: 64px;
  margin: auto; }

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s ease-in; }
  .card-title:hover {
    text-overflow: unset;
    white-space: unset; }

select {
  height: calc(2.25rem + 15px); }

#toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #00b894;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0; }
  #toast.show {
    visibility: visible;
    animation: fadeInOut 3s; }

/*# sourceMappingURL=user-themes-edit.component.css.map */
