$main-color: #1872bf
.row
  margin-right: 0
  margin-left: 0
#theme-details-tabs-content
  #home
    #preview-container
      border: 20px solid #eeeeee
      padding: 10px
      #cover
        width: 100%
        height: 300px
      .preview-btn
        display: block
        margin: auto
      #fancy
        text-align: center
        .pre-img
          width: 19%
          margin-top: 3%
          cursor: pointer
          filter: brightness(50%)
          transition: 0.3s ease-in
          &:hover
            filter: brightness(100%)
        .active
          filter: brightness(100%)
        span
          position: absolute
          left: 45%
          top: 200px

          i
            font-size: 70px
            color: white
            transition: 0.3s linear
            &:hover
              color: red
      a
        color: black
      .fa-star
        color: grey
.content-container
  .list-group
    .list-group-item
      border: 0
#comments
  form
    width: 100%
  .form-control
    background-color: #eeeeee
  .media
    width: 100%
    .media-body
      border: 1px solid
      padding: 15px
      .user
        color: black
      .date
        font-size: 0.8rem
  button
    margin-bottom: 20px

#theme-content
  #related-posts
    h5
      background-color: $main-color
      color: white
      margin-bottom: 0
    #user-info
      text-align: center
      img
        width: 15%
        margin: 10px auto
        border-radius: 50%
    a
      color: $main-color
      font-size: 18px
    span
      display: block
    .row
      display: inline-flex
.btn-group
  display: block
  text-align: center
  button
    transition: 0.3s ease-in-out
    &:hover
      background-color: $main-color
      border-color: $main-color
textarea
  resize: vertical
  .share
    cursor: default!important
    &:hover
      background-color: #6c757d!important
      border-color: #6c757d!important

#related-post-different
  h5
    display: block
    width: 100%
#article
  img
    width: 100%
    position: relative
    filter: brightness(50%)
  span
    position: absolute
    left: 41%
    top: 20%
  i
    font-size: 70px
    color: white
    transition: 0.2s linear
    &:hover
      color: red
  #fancy
    text-align: center
    .pre-img
      width: 19%
      margin-top: 3%
      cursor: pointer
      filter: brightness(50%)
      transition: 0.3s ease-in
      &:hover
        filter: brightness(100%)
.related
  height: 200px
a
  cursor: pointer
#related-post-different
  a
    color: $main-color!important
