.row {
  margin-right: 0;
  margin-left: 0; }

#theme-details-tabs-content #home #preview-container {
  border: 20px solid #eeeeee;
  padding: 10px; }
  #theme-details-tabs-content #home #preview-container #cover {
    width: 100%;
    height: 300px; }
  #theme-details-tabs-content #home #preview-container .preview-btn {
    display: block;
    margin: auto; }
  #theme-details-tabs-content #home #preview-container #fancy {
    text-align: center; }
    #theme-details-tabs-content #home #preview-container #fancy .pre-img {
      width: 19%;
      margin-top: 3%;
      cursor: pointer;
      filter: brightness(50%);
      transition: 0.3s ease-in; }
      #theme-details-tabs-content #home #preview-container #fancy .pre-img:hover {
        filter: brightness(100%); }
    #theme-details-tabs-content #home #preview-container #fancy .active {
      filter: brightness(100%); }
    #theme-details-tabs-content #home #preview-container #fancy span {
      position: absolute;
      left: 45%;
      top: 200px; }
      #theme-details-tabs-content #home #preview-container #fancy span i {
        font-size: 70px;
        color: white;
        transition: 0.3s linear; }
        #theme-details-tabs-content #home #preview-container #fancy span i:hover {
          color: red; }
  #theme-details-tabs-content #home #preview-container a {
    color: black; }
  #theme-details-tabs-content #home #preview-container .fa-star {
    color: grey; }

.content-container .list-group .list-group-item {
  border: 0; }

#comments form {
  width: 100%; }
#comments .form-control {
  background-color: #eeeeee; }
#comments .media {
  width: 100%; }
  #comments .media .media-body {
    border: 1px solid;
    padding: 15px; }
    #comments .media .media-body .user {
      color: black; }
    #comments .media .media-body .date {
      font-size: 0.8rem; }
#comments button {
  margin-bottom: 20px; }

#theme-content #related-posts h5 {
  background-color: #1872bf;
  color: white;
  margin-bottom: 0; }
#theme-content #related-posts #user-info {
  text-align: center; }
  #theme-content #related-posts #user-info img {
    width: 15%;
    margin: 10px auto;
    border-radius: 50%; }
#theme-content #related-posts a {
  color: #1872bf;
  font-size: 18px; }
#theme-content #related-posts span {
  display: block; }
#theme-content #related-posts .row {
  display: inline-flex; }

.btn-group {
  display: block;
  text-align: center; }
  .btn-group button {
    transition: 0.3s ease-in-out; }
    .btn-group button:hover {
      background-color: #1872bf;
      border-color: #1872bf; }

textarea {
  resize: vertical; }
  textarea .share {
    cursor: default !important; }
    textarea .share:hover {
      background-color: #6c757d !important;
      border-color: #6c757d !important; }

#related-post-different h5 {
  display: block;
  width: 100%; }

#article img {
  width: 100%;
  position: relative;
  filter: brightness(50%); }
#article span {
  position: absolute;
  left: 41%;
  top: 20%; }
#article i {
  font-size: 70px;
  color: white;
  transition: 0.2s linear; }
  #article i:hover {
    color: red; }
#article #fancy {
  text-align: center; }
  #article #fancy .pre-img {
    width: 19%;
    margin-top: 3%;
    cursor: pointer;
    filter: brightness(50%);
    transition: 0.3s ease-in; }
    #article #fancy .pre-img:hover {
      filter: brightness(100%); }

.related {
  height: 200px; }

a {
  cursor: pointer; }

#related-post-different a {
  color: #1872bf !important; }

/*# sourceMappingURL=detailscomponent.css.map */
