<section id="theme-id-container">
  <div class="theme-id">
    <div class="container">
      <div class="row head">
        <div class="col-sm-12">
          <h4>{{article.title}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div id="theme-content">
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-tabs" id="theme-details-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">التفاصيل </a>
          </li>

        </ul>
        <div class="lds-roller" *ngIf="!loaderFinished">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="tab-content pt-3" id="theme-details-tabs-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="preview-container">

              <a data-fancybox="videos" href="{{article.url}}">
                <img src='{{article.image}}' id="cover">
              </a>
              <div class="container" id="fancy">
                <ng-container *ngFor="let video of article.videos">
                  <a data-fancybox="videos" href="{{video.url}}">
                    <img src='https://img.youtube.com/vi/{{video.url.substr(32)}}/default.jpg' class="pre-img" title="{{video.title}}">
                    <span><i class="fab fa-youtube"></i></span>
                  </a>
                </ng-container>
              </div>

            </div>
            <div class="container mt-5 content-container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h4 class="pb-3 m-auto">{{article.title}} </h4>
                </div>
                <div class="col-sm-12 text-center">
                  <p class="text-muted" [innerHTML]="article.details">

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" id="related-posts">

        <div class="card ml-2 mb-3 ads" *ngFor="let adv of advs">
          <img *ngIf="adv.type === 'image'" class="card-img-top" (click)="openAd(adv.url)" height="300px" src="{{adv.file}}" alt="related-posts">
          <video *ngIf="adv.type === 'video'" controls src="{{adv.file}}" height="300px"></video>
        </div>
      </div>
    </div>
  </div>


</section>


