<div class="theme-id">
  <div class="container">
    <div class="row" id="head">
      <div class="col-sm-12">
        <h3>{{pageTitle}} </h3>
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" routerLink="../">المجانيه</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab"  aria-selected="false">المدفوعه</a>
  </li>

</ul>
<section>
  <div class="container mt-5">

    <div class="row">
      <div class="col-md-12" id="category-med">
        <div class="categories">
          <h5>الاقسام</h5>
          <ul class="list-group" style="list-style-type: none" *ngIf="!categories">
            <li>
              <div class="timeline-wrapper">

                <div class="timeline-item">
                  <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <ul class="list-group" *ngIf="categories">
            <li class="list-group-item d-flex justify-content-between align-items-center"  routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">كل الاقسام <span class="badge badge-pill badge-dark">1200</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let cat of categories" routerLink= "./{{cat.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{cat.title}} <span class="badge badge-pill badge-dark">{{cat.count}}</span> </li>


          </ul>
        </div>
      </div>
      <div class="col-lg-9">


        <router-outlet></router-outlet>

      </div>
      <div class="col-lg-3" id="category-lg">
        <div class="categories" >
          <h5>الاقسام</h5>
          <ul class="list-group" style="list-style-type: none" *ngIf="!categories">
            <li>
              <div class="timeline-wrapper">

                <div class="timeline-item">
                  <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-group" *ngIf="categories">
            <li class="list-group-item d-flex justify-content-between align-items-center"  routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">كل الاقسام <span class="badge badge-pill badge-dark">{{allCount}}</span> </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let cat of categories" routerLink= "./{{cat.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{cat.title}} <span class="badge badge-pill badge-dark">{{cat.count}}</span> </li>


          </ul>
        </div>
      </div>
    </div>

  </div>


</section>
