$main-color: #1872bf
.nav-tabs
  border-bottom: 0
  display: flex
  justify-content: space-evenly
  .nav-link
    transition: 0.3s ease-in
    border: 0
    cursor: pointer
    &:hover
      border: 0
      background-color: $main-color
      color: white
      border-radius: 0
    &.active
      color: white
      background-color: $main-color
      border-radius: 0
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white
.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
.categories
  background-color: rgba(204, 204, 204, 0.27)
  color: black
  padding: 20px
  .list-group-item
    border: 0
    color: black
    cursor: pointer
    outline: 0
  .list-group-item.active
    background-color: white
    border-color: white
    color: $main-color
    border-right: 1px solid $main-color
#category-med
  display: none
@media screen and (max-width: 993px)
  #category-med
    display: block
  #category-lg
    display: none

.pagination
  justify-content: center
  .page-item
    .page-link
      border-radius: 0
      border: 0
.col-lg-3
  margin-bottom: 10px
