.nav-tabs {
  border-bottom: 0;
  display: flex;
  justify-content: space-evenly; }
  .nav-tabs .nav-link {
    transition: 0.3s ease-in;
    border: 0;
    cursor: pointer; }
    .nav-tabs .nav-link:hover {
      border: 0;
      background-color: #1872bf;
      color: white;
      border-radius: 0; }
    .nav-tabs .nav-link.active {
      color: white;
      background-color: #1872bf;
      border-radius: 0; }

.theme-id {
  background: #1872bf;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px; }
  .theme-id #head {
    color: white; }

.container .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px; }

.categories {
  background-color: rgba(204, 204, 204, 0.27);
  color: black;
  padding: 20px; }
  .categories .list-group-item {
    border: 0;
    color: black;
    cursor: pointer;
    outline: 0; }
  .categories .list-group-item.active {
    background-color: white;
    border-color: white;
    color: #1872bf;
    border-right: 1px solid #1872bf; }

#category-med {
  display: none; }

@media screen and (max-width: 993px) {
  #category-med {
    display: block; }

  #category-lg {
    display: none; } }
.pagination {
  justify-content: center; }
  .pagination .page-item .page-link {
    border-radius: 0;
    border: 0; }

.col-lg-3 {
  margin-bottom: 10px; }

/*# sourceMappingURL=themes.component.css.map */
