.custom-file
  label
    padding: .375rem 5.75rem!important
figure
  display: block
  margin: auto
  img
    width: 20%
    margin-top: 10px
.tab-pane
  margin-left: 0
  margin-right: 0
  .tab-content
    border: 1px solid #eeeeee
    padding: 20px
  .btn
    display: block
    margin: auto
select
  height: calc(2.25rem + 15px)
.lds-roller
  display: block
  position: absolute
  width: 64px
  top: 50%
  right: 50%
  height: 64px
  margin: auto
