<div class="tab-pane" id="v-pills-essential" role="tabpanel" [style.opacity]="opacity">
<h3 class="text-center">مدونه جديد</h3>
<form [formGroup]="newForm" (ngSubmit)="newSubmit()">
<div class="form-group mt-3">
<label for="category">تصنيف المدونه </label>
<select id="category" class="form-control" formControlName="category">
<option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.title}}</option>
</select>
</div>
<div class="form-group mt-3">
<label for="display">اسم المدونه </label>
<input type="text" placeholder="مدونه عن العزل الحراري" class="form-control" id="display" formControlName="name">
</div>
<div class="form-group mt-3">
<label for="desc">وصف المدونه</label>
<ck-editor name="editor1" formControlName="desc" id="desc" skin="moono-lisa" [fullPage]="true"></ck-editor>
</div>

<div class="custom-file mt-3">
<input type="file" accept=".png, .jpg, .jpeg"  class="custom-file-input" id="customFile" #picked (change)="selectImage(picked)">
<label class="custom-file-label" for="customFile"> الصوره الرئيسيه</label>
<p class="text-danger text-center">{{imageError}}</p>
</div>
<figure class="text-center" *ngIf="!imageError">
<img src="{{imageUrl}}">
</figure>

<button type="submit" class="btn btn-primary mt-2" [disabled]="!submitLoader">اضافه مدونه </button>
</form>
<div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successNew === false">
{{addError}}
</div>


<div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successNew">
تم اضافه المدونه بنجاح
</div>
</div>

<div class="lds-roller" id="loader-sumbit" *ngIf="!submitLoader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
