.fa-plus {
  position: absolute;
  left: 51px; }

.custom-file label {
  padding: 0.375rem 5.75rem !important; }

figure {
  display: block;
  margin: auto; }
  figure img {
    width: 20%;
    margin-top: 10px; }

.tab-pane {
  margin-left: 0;
  margin-right: 0; }
  .tab-pane .tab-content {
    border: 1px solid #eeeeee;
    padding: 20px; }
  .tab-pane .btn {
    display: block;
    margin: auto; }

.container .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px; }
.container .card .card-img-top {
  height: 150px; }
.container .card .card-body button {
  display: block;
  margin: auto;
  border-radius: 20px; }
.container .card .card-body .card-title a {
  color: #1872bf;
  cursor: pointer; }

.fa-clock {
  font-size: 30px; }

.theme-images {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  height: 150px; }

.btn-delete {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin-right: -25px;
  margin-top: 9px; }

.btn-delete-feature {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 15px; }

.options {
  position: absolute;
  right: 45px; }

@media screen and (max-width: 600px) {
  .options {
    position: static; }

  .theme-images {
    width: 50%; } }
@media screen and (max-width: 500px) {
  .options {
    display: none; } }
#loader-sumbit {
  display: block;
  position: absolute;
  width: 64px;
  top: 50%;
  right: 50%;
  height: 64px;
  margin: auto; }

select {
  height: calc(2.25rem + 15px); }

/*# sourceMappingURL=user-themes-add.component.css.map */
