<div class="tab-pane" [style.opacity]="opacity" id="v-pills-essential" role="tabpanel">
  <h3 class="text-center">قالب جديد</h3>
  <form [formGroup]="newForm" method="post" enctype="multipart/form-data" (ngSubmit)="newSubmit()">
    <div class="form-group mt-3">
      <label for="category">تصنيف القالب </label>
      <select id="category" class="form-control" formControlName="category">
        <option  *ngFor="let cat of categories" value="{{cat.id}}">{{cat.title}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label for="display">اسم القالب </label>
      <input type="text" placeholder="قالب لموقع نظافه" class="form-control" id="display" formControlName="name">
    </div>
    <div class="form-group mt-3">
      <label for="url">عنوان القالب علي الانترنت  </label>
      <input type="text" placeholder="http:example.com" class="form-control" id="url" formControlName="url">
    </div>
    <div class="form-group mt-3">
      <label for="desc">وصف القالب</label>
      <textarea class="form-control" placeholder="قالب لموقع نظافه يمكن تعديله بسهوله فيما بعد" id="desc" rows="3" formControlName="desc"></textarea>
    </div>

    <div class="form-group mt-3">
      <label>نبذه مطوله عن القالب </label>
      <ck-editor name="editor1" formControlName="content" id="content" rows="6" skin="moono-lisa" [fullPage]="true"></ck-editor>
    </div>
    <div class="form-group mt-3">
      <label for="file">ملفات القالب تقبل فقط (rar, zip) </label>
      <input type="file" #rar (change)="uploadRAR(rar)" accept=".rar,.zip" class="form-control" id="file">
    </div>
    <div class="form-group mt-3" formArrayName="features">
      <div>
        <label for="features">المميزات</label>

        <button type="button" class="btn btn-outline-success mb-2" (click)="addFeature()">اضافه ميزه</button>
      </div>
      <div class="row" *ngFor="let feature of features.controls; let i=index">
        <div class="col">
          <input type="text" class="form-control mb-1" id="features" *ngIf="i%2===0" [formControlName]="i" placeholder="عنوان الميزه مثال: حجم القالب">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-1" id="features_" *ngIf="i%2===0" [formControlName]="i+1" placeholder="قيمه الميزه مثال: لا يتعدي ميجا">
        </div>

        <button class="btn-delete-feature ml-3" *ngIf="i%2===0 && i!==0" (click)="removeFeature(i)"><i class="fas fa-times-circle"></i></button>

      </div>


    </div>

    <div class="custom-file mt-3">
      <input type="file" accept=".png, .jpg, .jpeg"  class="custom-file-input" id="customFile" #picked (change)="selectImage(picked)">
      <label class="custom-file-label" for="customFile"> الصوره الرئيسيه</label>
      <p class="text-danger text-center">{{imageError}}</p>
    </div>

    <figure class="text-center" *ngIf="!imageError">
      <img src="{{imageUrl}}">
    </figure>

    <div class="custom-file mt-3">
      <input type="file" multiple accept="image/*" class="custom-file-input" #pickeds (change)="selectImages(pickeds, $event)">
      <label class="custom-file-label" for="customFile">صور الخدمه </label>
      <p class="text-danger text-center">{{imagesError}}</p>

    </div>
    <div *ngIf="!imagesError">
      <ng-container  *ngFor="let url of images; let i = index;">
        <img [src]="url" class="theme-images">

        <button class="btn-delete ml-3" (click)="remove(i)"><i class="fas fa-times-circle"></i></button>

      </ng-container>
    </div>

    <div class="form-group mt-3 text-center">
      <span class="options">خيارات الدعم</span>
      <div class="custom-control custom-radio custom-control-inline " >
        <input type="radio" id="support" value="on" formControlName="support" name="support" class="custom-control-input">
        <label class="custom-control-label" for="support">دعم فني</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline " >
        <input type="radio" id="nonsupport" value="off" formControlName="support" name="support" class="custom-control-input">
        <label class="custom-control-label" for="nonsupport">لا يوجد دعم فني</label>
      </div>
    </div>

    <div class="form-group mt-3 text-center">
      <span class="options">خيارات الدفع</span>
      <div class="custom-control custom-radio custom-control-inline " >
        <input  type="radio" id="customRadioInline1" value="free" formControlName="type" name="type" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">مجاني</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline " >
        <input type="radio" id="customRadioInline2" value="paid" formControlName="type" name="type" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">مدفوع</label>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="cost">التكلفه </label>
      <input type="number" value="0" class="form-control" id="cost" formControlName="cost">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!submitLoader">اضافه قالب </button>
  </form>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successNew === false">
    {{addError}}
  </div>


  <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successNew">
    تم اضافه القالب بنجاح
  </div>

</div>
<div class="lds-roller" id="loader-sumbit" *ngIf="!submitLoader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
