$main-color: #1872bf
.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
.hovereffect
  width: 100%
  height: 100%
  float: left
  overflow: hidden
  position: relative
  text-align: center
  cursor: default
  background: $main-color
  .overlay
    width: 100%
    height: 100%
    position: absolute
    overflow: hidden
    top: 0
    left: 0
    padding: 50px 20px
  img
    display: block
    position: relative
    max-width: none
    width: calc(100% + 20px)
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
    transition: opacity 0.35s, transform 0.35s
    -webkit-transform: translate3d(-10px, 0, 0)
    transform: translate3d(-10px, 0, 0)
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    filter: brightness(65%)
    height: 150px
  &:hover
    img
      opacity: 0.4
      filter: alpha(opacity = 40)
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
  h2
    text-transform: uppercase
    color: #fff
    text-align: center
    position: relative
    font-size: 19px
    overflow: hidden
    padding: 0.5em 0
    font-weight: bold
    background-color: transparent
    cursor: pointer
    &:after
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      background: #fff
      content: ''
      -webkit-transition: -webkit-transform 0.35s
      transition: transform 0.35s
      -webkit-transform: translate3d(-100%, 0, 0)
      transform: translate3d(-100%, 0, 0)
  &:hover
    h2:after
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
  a
    opacity: 1!important
    font-weight: bold
  p, a
    color: #FFF
    opacity: 0
    filter: alpha(opacity = 0)
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
    transition: opacity 0.35s, transform 0.35s
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)
  &:hover
    p, a
      opacity: 1
      filter: alpha(opacity = 100)
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

