<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 mt-3 content">
  <div class="lds-roller" *ngIf="loaderFininshed">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="row" *ngIf="!loaderFininshed">
    <div class="col-md-6 col-sm-12">
      <div class="hovereffect">
        <img class="img-responsive" src="../../../../assets/images/pexels-photo-249348.jpeg" alt="">
        <div class="overlay">
          <h2><a (click)="openRoute('new')"> تذكره جديده </a></h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="hovereffect">
        <img class="img-responsive" src="../../../../assets/images/pexels-photo-355988.jpeg" alt="">
        <div class="overlay">
          <h2><a (click)="openRoute('all')"> التذاكر </a></h2>
        </div>
      </div>
    </div>

  </div>
</div>

