<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3">
  <form [formGroup]="signForm" (ngSubmit)="signSubmit()">
    <img src="../../assets/images/7bc30728b3091c6356bda1e4c8b6fbf2.png">

    <div class="form-group">
      <label for="mail">الايميل</label>
      <input type="email" class="form-control" id="mail" formControlName="email" required>
    </div>

      <div class="form-group">
        <label for="password">كلمه المرور</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>

    <button type="submit" class="btn btn-primary">تسجيل الدخول </button>
    <a routerLink="../user/reset" id="forget" class="mt-4 signUp">نسيت كلمه المرور</a>
    <a routerLink="/register/user" class="mt-4 signUp">ليس لديك حساب!</a>

  </form>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successLogin === false">
    {{errorData}}
  </div>


  <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successLogin">
مرحبا! تم تسجيل الدخول بنجاح
  </div>
</div>

