form {
  border: 1px solid #eeee;
  padding: 20px;
  box-shadow: 1px 2px 1px 1px #eeee;
  width: 50%;
  margin: auto; }
  form img {
    display: block;
    margin: auto;
    border-radius: 50%; }
  form .signUp {
    display: flex;
    justify-content: center; }

#ads img {
  width: 100%; }

@media screen and (max-width: 993px) {
  form {
    width: 100%; } }

/*# sourceMappingURL=login.component.css.map */
