.content
  border: 1px solid #eeee
  padding: 20px
  box-shadow: 1px 2px 1px 1px #eeee
  width: 70%
  margin: auto
  .btn
    margin: auto
    display: block

@media screen and (max-width: 993px)
  .content
    width: 100%
