<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 content">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label for="mail">الايميل </label>
      <input type="email" class="form-control" id="mail" disabled [value]="email">
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="newPassword"> كلمه المرور الجديده</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="newPassword">
    </div>
  </div>
  <button type="submit" (click)="resetPassword()" class="btn btn-primary mt-2 text-center">تسجيل الدخول </button>

  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successReset === false">
    {{errorMail}}
  </div>


</div>

