.head {
  border: 1px solid #eeeeee;
  padding: 10px; }

#code-copy-container {
  padding: 15px;
  background-color: #d1ccc0; }
  #code-copy-container #btn-copy {
    border-radius: 0; }
  #code-copy-container #copy-input:focus {
    border-color: #eeeeee;
    box-shadow: 0 0 0 0; }
  #code-copy-container #links a {
    display: block; }

.btn-group {
  display: block; }
  .btn-group button {
    transition: 0.3s ease-in-out; }
    .btn-group button:hover {
      background-color: #1872bf;
      border-color: #1872bf; }

.container-financial {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  background-color: gray; }

.bank-img {
  width: 150px;
  border: 1px solid #eeeeee;
  padding: 10px; }

#tableTrans {
  height: 300px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

caption {
  caption-side: top;
  text-align: center; }

#newWithDraw {
  margin: auto;
  display: block; }

#toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #00b894;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0; }
  #toast.show {
    visibility: visible;
    animation: fadeInOut 3s; }

@keyframes fadeInOut {
  5%,95% {
    opacity: 1;
    top: 50px; }
  15%,85% {
    opacity: 1;
    top: 30px; } }
@media screen and (max-width: 768px) {
  .share {
    text-align: center; } }

/*# sourceMappingURL=statistics.component.css.map */
