<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
<h4 class="mb-sm-5 mt-sm-3 text-center head">كود الاحاله</h4>
      <div id="code-copy-container">
        <p class="text-center m-3">الرابط</p>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary"  type="button" id="btn-copy" (click)="copy()">نسخ الرابط</button>
          </div>
          <input type="text" class="form-control text-left" id="copy-input" value="{{codeURL}}">
        </div>
<div class="row mt-3 mb-3 share">
  <div class="col-md-12 text-center">
<p>شارك علي السوشيال ميديا</p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" style="display: none"></button>
      <button type="button" class="btn btn-secondary" (click)="share('lin')"><i class="fab fa-linkedin-in"></i></button>
      <button type="button" class="btn btn-secondary" (click)="share('pin')"><i class="fab fa-pinterest-p"></i></button>
      <button type="button" class="btn btn-secondary" (click)="share('google')"><i class="fab fa-google-plus-g"></i></button>
      <button type="button" class="btn btn-secondary" (click)="share('twitter')"><i class="fab fa-twitter"></i></button>
      <button type="button" class="btn btn-secondary" (click)="share('fb')"><i class="fab fa-facebook-f"></i></button>
      <button type="button" class="btn btn-secondary share">شارك</button>

    </div>
  </div>
</div>
      </div>


    </div>
    <div class="col-md-6">
      <h4 class="mb-sm-5 mt-sm-3 text-center head">التعاملات</h4>
      <div class="timeline-wrapper">

        <div class="timeline-item" *ngIf="!loaderFinished2">
          <div class="animated-background">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </div>
      <div *ngIf="loaderFinished2">
    <div class="row mt-3">
      <div class="col-md-4 text-center">
        <h5> القوالب المباعه </h5>
        <p class="container-financial  mt-3"> {{statistics.PaidThemesCount}}</p>
      </div>
      <div class="col-md-4 text-center ">
        <h5> الخدمات المباعه</h5>
        <p class="container-financial mt-3"> {{statistics.PidServicesCount}}</p>
      </div>
      <div class="col-md-4 text-center ">
        <h5> نقاط العموله</h5>
        <p class="container-financial mt-3"> {{statistics.UserAffiliatesCount}}</p>
      </div>
    </div>
      <div class="row mt-3">
      <div class="col-md-6 text-center">
        <h5>صافي الربح</h5>
        <p class="container-financial mt-3 bg-info"> $ {{statistics.PaidAmount}}</p>
      </div>

      <div class="col-md-6 text-center">
        <h5>نسبه العموله</h5>
        <p class="container-financial mt-3 bg-info"> {{statistics.AffiliatesAmount}}</p>
      </div>
      </div>
      <div class="row mt-3">
      <div class="col-md-12 text-center">
        <h5>الربح الكلي</h5>
        <p class="container-financial mt-3 bg-success"> $ {{statistics.balance}} </p>
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div *ngIf="loaderFinished">
  <div class="row mt-3" >
    <div class="col-md-12">
      <h4 class="mb-sm-5 mt-sm-3 text-center head">الأيداع</h4>
      <h5 class="text-center mb-3 font-weight-bold">حسابات بنوك الأيداع</h5>
      <div class="row mt-2">
        <div class="col-md-3" *ngFor="let bank of depositBanks">
          <figure>
            <img src="{{bank?.image}}" class="bank-img">
            <figcaption>
              <b class="text-center">{{bank?.name}}</b>
            </figcaption>
          </figure>

          <p class="text-muted">رقم الحساب : <span class="text-dark">{{bank?.account_no}}</span></p>
          <p class="text-muted">اسم الحساب : <span class="text-dark">{{bank?.account}}</span></p>

        </div>

      </div>
    </div>

  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <h4 class="mb-sm-5 mt-sm-3 text-center head">السحب</h4>
      <h5 class="text-center mb-3 font-weight-bold">حسابات بنوك السحب</h5>
      <div class="row mt-2">
        <div class="col-md-3" *ngFor="let bank of withdrawBanks">
          <figure>
            <img src="{{bank?.image}}" class="bank-img">
            <figcaption>
              <b class="text-center">{{bank?.name}}</b>
            </figcaption>
          </figure>

          <p class="text-muted">رقم الحساب : <span class="text-dark">{{bank?.account_no}}</span></p>
          <p class="text-muted">اسم الحساب : <span class="text-dark">{{bank?.account}}</span></p>

        </div>

      </div>
<div class="row">
  <div class="text-center mt-3 mb-3" id="newWithDraw">
  <h5>طلب سحب جديد</h5>
  <form [formGroup]="newForm" (ngSubmit)="withDraw()" class="mb-3">
    <div class="form-group mt-3">
      <label for="bank">اسم البنك </label>
      <select id="bank" class="form-control" formControlName="bank">
        <option  *ngFor="let bank of withdrawBanks" [value]="bank.id">{{bank.name}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label for="display">قيمه المبلغ </label>
      <input type="number" class="form-control" id="display" formControlName="money">
    </div>
    <button type="submit" class="btn btn-primary mt-2">تقديم طلب </button>
  </form>
    <div class="alert alert-danger" *ngIf="errorForm">{{errorForm}}</div>
    <div id="toast"></div>
  </div>
  <div id="tableTrans">
      <table class="table table-hover mt-5">
<caption class="font-weight-bold text-dark">تعاملات السحب السابقه</caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">اسم البنك</th>
          <th scope="col">المبلغ</th>
          <th scope="col"> الحاله</th>
          <th scope="col">تاريخ السحب</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of myWithdraw; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td>{{transaction.bank.name}}</td>
          <td>$ {{transaction.amount}}</td>
          <td *ngIf="transaction.status === '1'"  class="text-success"> مقبول <i class="fas fa-check"></i></td>
          <td *ngIf="transaction.status === '0'" class="text-warning"> في انتظار الرد <i class="fas fa-clock"></i></td>
          <td *ngIf="transaction.status === '2'" class="text-danger"> مرفوض <i class="far fa-times-circle"></i></td>
          <td>{{transaction.created_at | date: 'MMMM d, y, h:mm a'}}</td>



        </tr>
        </tbody>
      </table>
  </div>
</div>
    </div>
  </div>
  </div>
</div>
