<section id="theme-id-container">
  <div class="theme-id">
    <div class="container">
      <div class="row head">
        <div class="col-sm-12">
          <h4>{{service.title}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div id="theme-content">
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-tabs" id="theme-details-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">تفاصيل الخدمه</a>
          </li>

        </ul>
        <div class="lds-roller" *ngIf="!loaderFinished">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="tab-content pt-3" id="theme-details-tabs-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="preview-container">
              <img src="{{service.image}}" id="cover">
              <div class="container" id="fancy">
                <ng-container *ngFor="let service_ of service.images; let i = index">
                  <img src="{{service_.image}}" class="pre-img" [ngClass]="{active: i ===0}">
                </ng-container>
              </div>
              <div class="row mt-3 pt-3" *ngIf="service.file.indexOf('.zip') !== 0 || service.file.indexOf('.rar') !== 0">
                <div class="col-md-12">
                  <button type="button" class="btn btn-outline-success preview-btn" (click)="openUrl(service.file)">تحميل الخدمه <i class="fas fa-download mr-3"></i></button>
                </div>
              </div>
            </div>
            <div class="container mt-5 content-container">
              <div class="row">
             <div class="col-sm-12 text-center">
               <h4 class="pb-3 m-auto">{{service.title}}</h4>
               <p class="text-muted">
                 {{service.description}}
               </p>
             </div>
                <div class="col-sm-12 text-center">
                <p class="text-muted" [innerHTML]="service.content">
                </p>
                </div>
              </div>
              <div class="row mt-5">
                <h4 class="pb-3">المميزات:</h4>
                <div class="row mt-3">
                  <ul class="list-group text-muted">
                    <li class="list-group-item" *ngFor="let adv of service.advantages"><b class="ml-2">{{adv.title}}</b>: {{adv.value}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" id="related-posts">

        <div class="card ml-2 mb-3 ads" *ngFor="let adv of advs">
          <img *ngIf="adv.type === 'image'" class="card-img-top" (click)="openAd(adv.url)" height="300px" src="{{adv.file}}" alt="related-posts">
          <video *ngIf="adv.type === 'video'" controls src="{{adv.file}}" height="300px"></video>
        </div>
      </div>
    </div>
  </div>


</section>


