<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="failedMsg">
    {{failedMsg}}
  </div>
  <div class="mt-3" *ngIf="loaderFinished">
    <div role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let blog of blogs">
            <div class="hovereffect">
              <img class="img-responsive" src="{{blog.image}}" alt="">
              <div class="overlay">
                <h2><a (click)="parseNaviagtion(blog.id,blog.slug)"> {{blog.title}} </a></h2>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let articles of pageArticle; let i = index">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let blog of pageArticle[i]">
            <div class="hovereffect">
              <img class="img-responsive" src="{{blog.image}}" alt="">
              <div class="overlay">
                <h2><a (click)="parseNaviagtion(blog.id,blog.slug)"> {{blog.title}} </a></h2>
              </div>
            </div>
          </div>
          </ng-container>

        </div>


      </div>


    </div>

  </div>
  <div class="lds-ellipsis" *ngIf="!pageLoader && loaderFinished && !failedMsg">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
