<div class="tab-pane" id="v-pills-essential" role="tabpanel" [style.opacity]="opacity">
  <h3 class="text-center">خدمه جديد</h3>
  <form [formGroup]="newForm" method="post" enctype="multipart/form-data" (ngSubmit)="newSubmit()">
    <div class="form-group mt-3">
      <label for="category">تصنيف الخدمه </label>
      <select id="category" class="form-control" formControlName="category">
        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label for="display">اسم الخدمه </label>
      <input type="text" placeholder="كتابه سكريبت في يوم" class="form-control" id="display" formControlName="name">
    </div>
    <div class="form-group mt-3">
      <label for="desc">وصف الخدمه</label>
      <textarea class="form-control" placeholder="سأقوم بكتابه سكريبت برمجي في خلال يوم واحد" id="desc" rows="3" formControlName="desc"></textarea>
    </div>
    <div class="form-group mt-3">
      <label>نبذه مطوله عن الخدمه </label>
      <ck-editor name="editor1" formControlName="content" id="content" rows="6" skin="moono-lisa" [fullPage]="true"></ck-editor>
    </div>
    <div class="form-group mt-3">
      <label for="file">ملفات الخدمه تقبل فقط (rar, zip) </label>
      <input type="file" #rar (change)="uploadRAR(rar)" accept=".rar,.zip" class="form-control" id="file">
    </div>
    <div class="form-group mt-3" formArrayName="features">
      <div>
        <label for="features">المميزات</label>

        <button type="button" class="btn btn-outline-success mb-2" (click)="addFeature()">اضافه ميزه</button>
      </div>
      <div class="row" *ngFor="let feature of features.controls; let i=index">
        <div class="col">
          <input type="text" class="form-control mb-1" id="features" *ngIf="i%2===0" [formControlName]="i" placeholder="عنوان الميزه مثال: ثمن الخدمه">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-1" id="features_" *ngIf="i%2===0" [formControlName]="i+1" placeholder="قيمه الميزه مثال: 5 دولا">
        </div>

        <button class="btn-delete-feature ml-3" *ngIf="i%2===0 && i!==0" (click)="removeFeature(i)"><i class="fas fa-times-circle"></i></button>

      </div>


    </div>

    <div class="custom-file mt-3">
      <input type="file" accept=".png, .jpg, .jpeg"  class="custom-file-input" id="customFile" #picked (change)="selectImage(picked)">
      <label class="custom-file-label" for="customFile"> الصوره الرئيسيه</label>
      <p class="text-danger text-center">{{imageError}}</p>
    </div>

    <figure class="text-center" *ngIf="!imageError">
      <img src="{{imageUrl}}">
    </figure>


    <div class="form-group mt-3 text-center">
      <span class="options">خيارات الدفع</span>
      <div class="custom-control custom-radio custom-control-inline " >
        <input  type="radio" id="customRadioInline1" value="free" formControlName="type" name="type" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">مجاني</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline " >
        <input type="radio" id="customRadioInline2" value="paid" formControlName="type" name="type" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">مدفوع</label>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="cost">التكلفه </label>
      <input type="number" value="0" class="form-control" id="cost" formControlName="cost">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!submitLoader">اضافه خدمه </button>
  </form>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successNew === false">
    {{addError}}
  </div>


  <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successNew">
    تم اضافه الخدمه بنجاح
  </div>
</div>
<div class="lds-roller" id="loader-sumbit" *ngIf="!submitLoader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
