$main-color: #1872bf
.nav-tabs
  border-bottom: 0
  display: flex
  justify-content: space-around
  .nav-link
    transition: 0.3s ease-in
    border: 0
    &:hover
      border: 0
      background-color: $main-color
      color: white
      border-radius: 0
    &.active
      color: white
      background-color: $main-color
      border-radius: 0
.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
.hovereffect
  width: 100%
  height: 100%
  float: left
  overflow: hidden
  position: relative
  text-align: center
  cursor: default
  background: $main-color
  .overlay
    width: 100%
    height: 100%
    position: absolute
    overflow: hidden
    top: 0
    left: 0
    padding: 50px 20px
  img
    display: block
    position: relative
    max-width: none
    width: calc(100% + 20px)
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
    transition: opacity 0.35s, transform 0.35s
    -webkit-transform: translate3d(-10px, 0, 0)
    transform: translate3d(-10px, 0, 0)
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    filter: brightness(65%)
    height: 150px
  &:hover
    img
      opacity: 0.4
      filter: alpha(opacity = 40)
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
  h2
    text-transform: uppercase
    color: #fff
    text-align: center
    position: relative
    font-size: 19px
    overflow: hidden
    padding: 0.5em 0
    font-weight: bold
    background-color: transparent
    cursor: pointer
    &:after
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 2px
      background: #fff
      content: ''
      -webkit-transition: -webkit-transform 0.35s
      transition: transform 0.35s
      -webkit-transform: translate3d(-100%, 0, 0)
      transform: translate3d(-100%, 0, 0)
  &:hover
    h2:after
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)
  a
    opacity: 1!important
  p, a
    color: #FFF
    opacity: 0
    filter: alpha(opacity = 0)
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
    transition: opacity 0.35s, transform 0.35s
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)
  &:hover
    p, a
      opacity: 1
      filter: alpha(opacity = 100)
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

.pagination
  justify-content: center
  .page-item
    .page-link
      border-radius: 0
      border: 0
.col-lg-3
  margin-bottom: 10px
