#chat
  border: 1px solid #eeee
  padding: 20px
  header
    background-color: rgba(214, 215, 219, 0.38)
    padding: 10px
    img
      width: 50px
      margin-left: 10px
  main
    height: 300px
    overflow-y: auto
    overflow-x: hidden
    .alert-success
      color: rgba(21, 87, 36, 0.7686274509803922)!important
      background-color: rgba(212, 237, 218, 0.14901960784313725)!important
      border: 0 rgba(195, 230, 203, 0.2901960784313726)!important
    .alert-dark
      color: #1b1e21
      background-color: rgba(214, 216, 217, 0.35)
      border: 0
      text-align: left
      margin-left: 10px
  footer
    padding: 10px
    border-top: 1px solid #eeeeee
    input
      width: 100%
      height: 35px
      border-radius: 8px
      outline: 0
      border: 1px solid #eeeeee
.active-container
  margin-right: 50px
.activeNow
  width: 10px
  height: 10px
  background-color: green
  color: green
  position: absolute
  border-radius: 50%
  right: 50px
  top: 58px
@media screen and (max-width: 768px)
  #send-btn
    text-align: end
