<div class="container" id="chat">
  <header class="row">
  <div class="col-sm-12">
    <img src="{{userInfo?.image}}">
    <b>{{userInfo?.name}}</b><br>
    <p class="text-muted active-container" *ngIf="activeNow"><span class="activeNow"></span> نشط الان</p>


  </div>
  </header>
  <main id="messages">
<ng-container *ngFor="let message of messages">
    <div class="alert alert-success mt-2" *ngIf="message?.type == 'ToMe'" role="alert">
      <b>{{message?.text}}</b><br>
      <i class="text-muted">{{message?.created_at | date:'MMM d, y, h:mm'}}</i>
    </div>
  <div class="alert alert-dark mt-2" *ngIf="message?.type == 'FromMe'" role="alert">
    <b>{{message?.text}}</b><br>
    <i class="text-muted">{{message?.created_at | date:'MMM d, y, h:mm a'}}</i>
  </div>
</ng-container>
  </main>
  <footer class="mr-md-4 mt-5">
    <div class="row">
      <div class="col-md-10">
        <input type="text" #message (keyup.enter)="sendMessage(message.value)" placeholder="   اكتب رساله...">
      </div>
      <div class="col-md-2" id="send-btn">
        <button class="btn btn-outline-dark" (click)="sendMessage(message.value)"><i class="fab fa-telegram-plane"></i></button>
      </div>
    </div>
  </footer>
</div>
