$main-color: #1872bf
.row
  margin-right: 0
  margin-left: 0
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white
.related-posts
  padding: 0 25px
  border: 8px solid transparent
  .card
    padding-left: 0
    padding-right: 0
    a
      color: $main-color!important
      cursor: pointer!important
.btn-group
  display: block
  text-align: center
  button
    transition: 0.3s ease-in-out
    &:hover
      background-color: $main-color
      border-color: $main-color
  .share
    cursor: default!important
    &:hover
      background-color: #6c757d!important
      border-color: #6c757d!important


.download-container
  a
    color: $main-color
    cursor: pointer
.progress
  width: 150px
  height: 150px
  line-height: 150px
  background: none
  margin: 0 auto
  box-shadow: none
  position: relative
  &:after
    content: ""
    width: 100%
    height: 100%
    border-radius: 50%
    border: 12px solid #fff
    position: absolute
    top: 0
    left: 0
  > span
    width: 50%
    height: 100%
    overflow: hidden
    position: absolute
    top: 0
    z-index: 1
  .progress-left
    left: 0
  .progress-bar
    width: 100%
    height: 100%
    background: none
    border-width: 12px
    border-style: solid
    position: absolute
    top: 0
  .progress-left .progress-bar
    left: 100%
    border-top-right-radius: 80px
    border-bottom-right-radius: 80px
    border-left: 0
    -webkit-transform-origin: center left
    transform-origin: center left
  .progress-right
    right: 0
    .progress-bar
      left: -100%
      border-top-left-radius: 80px
      border-bottom-left-radius: 80px
      border-right: 0
      -webkit-transform-origin: center right
      transform-origin: center right
      animation: loading-1 2s linear forwards
  .progress-value
    width: 90%
    height: 90%
    border-radius: 50%
    background: $main-color
    font-size: 24px
    color: #fff
    line-height: 135px
    text-align: center
    position: absolute
    top: 5%
    left: 5%
    z-index: 9999
    animation: display_link 0.1s ease forwards 4s
    opacity: 0
    a
      color: white
  &.blue
    .progress-bar
      border-color: #049dff
    .progress-left .progress-bar
      animation: loading-2 2s linear forwards 2s

@keyframes loading-1
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(180deg)
    transform: rotate(180deg)


@keyframes loading-2
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(180deg)
    transform: rotate(180deg)
@keyframes display_link
  0%
    opacity: 0
  50%
    opacity: 0.5

  100%
    opacity: 1
.card-img-top
  height: 150px
.card-title
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  transition: 0.3s ease-in
  &:hover
    text-overflow: unset
    white-space: unset
.training-item
  background-size: cover
  background: no-repeat center center
  height: 200px
  .training-item-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0.5

  .course-links
    color: white
    text-align: center
    z-index: 10
    font-size: 25px
    margin-top: 75px
    text-decoration: none
@media only screen and (max-width: 990px)
  .progress
    margin-bottom: 20px
