#all .card .card-img-top {
  height: 150px; }
#all .card .card-body button {
  display: block;
  margin: auto;
  border-radius: 20px; }
  #all .card .card-body button a {
    color: #1872bf;
    cursor: pointer; }

.buy a {
  color: #049dff;
  font-size: 12px; }
  .buy a:hover {
    text-decoration: none; }

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s ease-in; }
  .card-title:hover {
    text-overflow: unset;
    white-space: unset; }

.categories {
  background-color: rgba(204, 204, 204, 0.27);
  color: black;
  padding: 20px;
  margin-bottom: 20px; }
  .categories .list-group-item {
    border: 0;
    color: black;
    cursor: pointer;
    outline: 0; }
  .categories .list-group-item.active {
    background-color: white;
    border-color: white;
    color: #1872bf;
    border-right: 1px solid #1872bf; }

#category-med {
  display: none; }

@media screen and (max-width: 993px) {
  #category-med {
    display: block; }

  #category-lg {
    display: none; } }
@media screen and (max-width: 768px) {
  .section-title {
    text-align: center !important; } }
.card-img-top {
  height: 150px; }

a {
  cursor: pointer;
  color: #1872bf !important; }

/*# sourceMappingURL=services-home.component.css.map */
