<app-header ></app-header>
<div class="lds-roller" *ngIf="!loadedFinished">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<router-outlet (activate)='onActivate($event)' ></router-outlet>
<app-footer></app-footer>
