$main-color: #1872bf
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white
#drop
  cursor: pointer
  i
    position: absolute
    left: 15px
    font-size: 20px
.fa-plus
  position: absolute
  left: 51px
.custom-file
  label
    padding: .375rem 5.75rem!important
figure
  display: block
  margin: auto
  img
    width: 20%
    margin-top: 10px
#pills
  margin-left: 0
  margin-right: 0
  .nav
    border: 1px solid #eeeeee
    padding: 20px
    a
      margin: 10px
      color: white
      cursor: pointer!important
  .tab-content
    border: 1px solid #eeeeee
    padding: 20px
    margin-bottom: 5rem
  .btn
    display: block
    margin: auto
.dropdown-menu
  a
    &:hover
      color: white
.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px

.lds-roller
  display: block
  position: absolute
  width: 64px
  top: 50%
  right: 50%
  height: 64px
  margin: auto
select
  height: calc(2.25rem + 15px)
.btn-delete-feature
  background-color: transparent
  border: 0
  color: black
  cursor: pointer
  font-size: 20px
  position: absolute
  right: 15px
