<section>
  <div class="theme-id">
    <div class="container">
      <div class="row" id="head">
        <div class="col-sm-12">
          <h4>{{pageTitle}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="pills">
    <div class="col-md-4 col-sm-12">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active btn-primary" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-essential" role="tab" aria-controls="v-pills-essential" aria-selected="true">
         الدورات
        </a>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 mt-sm-2 mb-2">
      <div class="tab-content">
        <div class="tab-pane fade show active"  id="v-pills-essential" role="tabpanel">
          <div class="lds-roller" *ngIf="!loaderFinished">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let course of myCourses">
              <div class="card training-item" [ngStyle]="{'background-image': 'url(' + course.image + ')'}">
                <a (click)="openCourse('aldrs-alaol',2)" class="course-links">
                  {{course.title}}
                </a>
                <div class="training-item-overlay" [style.backgroundColor] = course.color>
                </div>
              </div>
            </div>

          <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="error">
           {{error}}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
