.theme-id {
  background: #1872bf;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px; }
  .theme-id #head {
    color: white; }

#pills {
  margin-left: 0;
  margin-right: 0; }
  #pills .nav {
    border: 1px solid #eeeeee;
    padding: 20px; }
    #pills .nav a {
      margin: 10px; }
  #pills .tab-content {
    border: 1px solid #eeeeee;
    padding: 20px; }
  #pills .btn {
    display: block;
    margin: auto; }

.container .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px; }
.container .card .card-img-top {
  height: 150px; }
.container .card .card-body button {
  display: block;
  margin: auto;
  border-radius: 20px; }
.container .card .card-body .card-title a {
  color: #1872bf;
  cursor: pointer; }

.training-item {
  background-size: cover;
  background: no-repeat center center;
  height: 200px; }
  .training-item .training-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  .training-item .course-links {
    color: white;
    text-align: center;
    z-index: 10;
    font-size: 25px;
    margin-top: 75px;
    text-decoration: none; }

.card a {
  cursor: pointer; }

.card-img-top {
  height: 150px; }

/*# sourceMappingURL=user-courses.component.css.map */
