$main-color: #1872bf
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white
#pills
  margin-left: 0
  margin-right: 0
  .nav
    border: 1px solid #eeeeee
    padding: 20px
    a
      margin: 10px
  .tab-content
    border: 1px solid #eeeeee
    padding: 20px
  .btn
    display: block
    margin: auto

.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
  .card
    .card-img-top
      height: 150px
    .card-body
      button
        display: block
        margin: auto
        border-radius: 20px
      .card-title
        a
          color: $main-color
          cursor: pointer
.training-item
  background-size: cover
  background: no-repeat center center
  height: 200px
  .training-item-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0.5

  .course-links
    color: white
    text-align: center
    z-index: 10
    font-size: 25px
    margin-top: 75px
    text-decoration: none
.card
  a
    cursor: pointer
.card-img-top
  height: 150px
