#tableTrans {
  height: 400px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

caption {
  caption-side: top;
  text-align: center; }

tr {
  cursor: pointer; }

/*# sourceMappingURL=all-tickets.component.css.map */
