<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 content">
  <div class="row">
    <div class="col-sm-12">
      <div class="lds-roller" *ngIf="!loaderFinished">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="noTickets">
        {{noTickets}}
      </div>
      <div id="tableTrans" *ngIf="tickets && loaderFinished">
        <table class="table table-hover mt-5">
          <caption class="font-weight-bold text-dark">التذاكر الخاصه بك</caption>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">عنوان التذكره</th>
            <th scope="col">السبب</th>
            <th scope="col"> الحاله</th>
            <th scope="col">تاريخ فتح التذكره</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ticket of tickets; let i = index;" (click)="gotoTicket(ticket.id)">
            <th scope="row">{{i+1}}</th>
            <td>{{ticket.title}}</td>
            <td> {{ticket.reason}}</td>
            <td *ngIf="ticket.status === '0'"  class="text-warning"> منتظره <i class="fas fa-clock"></i></td>
            <td *ngIf="ticket.status === '1'" class="text-primary"> تحت النظر <i class="fas fa-eye"></i></td>
            <td *ngIf="ticket.status === '2'" class="text-dark"> محوله <i class="fas fa-exchange-alt"></i></td>
            <td *ngIf="ticket.status === '3'" class="text-success"> تم حلها <i class="fas fa-check"></i></td>
            <td *ngIf="ticket.status === '4'" class="text-danger"> مغلقه <i class="fas fa-lock"></i></td>
            <td>{{ticket.created_at | date: 'MMMM d, y, h:mm a'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

