$main-color: #1872bf
.card
  .card-img-top
    height: 150px
  .card-body
    button
      display: block
      margin: auto
      border-radius: 20px
    .card-title
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      transition: 0.3s ease-in
      &:hover
        text-overflow: unset
        white-space: unset
      a
        color: $main-color
        cursor: pointer
.col-lg-3
  margin-bottom: 10px
.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
