.card .card-img-top {
  height: 150px; }
.card .card-body button {
  display: block;
  margin: auto;
  border-radius: 20px; }
.card .card-body .card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s ease-in; }
  .card .card-body .card-title:hover {
    text-overflow: unset;
    white-space: unset; }
  .card .card-body .card-title a {
    color: #1872bf;
    cursor: pointer; }

.col-lg-3 {
  margin-bottom: 10px; }

.container .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px; }

/*# sourceMappingURL=category-free.component.css.map */
