
<div class="lds-roller" *ngIf="!loaderFinished">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="failedMsg">
  {{failedMsg}}
</div>
<div class="row" *ngIf="loaderFinished">
  <div class="col-lg-3 col-md-6 col-sm-12 mt-2" *ngFor="let theme of themes">
    <div class="card">
      <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
      <div class="card-body">
        <h5 class="card-title text-center">
          <a (click)="parseNaviagtion(theme.id,theme.slug)">{{theme.title}}
          </a>
        </h5>
        <p class="card-text">
        <p class="text-center m-2">

          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


        </p>

        <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
        <button type="button" class="btn btn-outline-primary" (click)="parseNaviagtion(theme.id,theme.slug)">احصل علي القالب</button>

      </div>
    </div>
  </div>
  <ng-container *ngFor="let themes of pageThemes; let i = index">
  <div class="col-lg-3 col-md-6 col-sm-12 mt-2" *ngFor="let theme of pageThemes[i]">
    <div class="card">
      <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
      <div class="card-body">
        <h5 class="card-title text-center">
          <a (click)="parseNaviagtion(theme.id,theme.slug)">{{theme.title}}
          </a>
        </h5>
        <p class="card-text">
        <p class="text-center m-2">

          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
          <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


        </p>

        <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
        <button type="button" class="btn btn-outline-primary" (click)="parseNaviagtion(theme.id,theme.slug)">احصل علي القالب</button>

      </div>
    </div>
  </div>
  </ng-container>
</div>

<div class="lds-ellipsis" *ngIf="!pageLoader && loaderFinished && !failedMsg">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>


