<section id="theme-id-container">
  <div class="theme-id">
    <div class="container">
      <div class="row head">
        <div class="col-sm-12">
          <h4>{{pageDetails.title}}</h4>
        </div>
      </div>
    </div>
  </div>
<p class="text-center" [innerHTML]="pageDetails.desc">

</p>
</section>
