$main-color: #1872bf
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white
#pills
  margin-left: 0
  margin-right: 0
  .nav
    border: 1px solid #eeeeee
    padding: 20px
    a
      margin: 10px
  .tab-content
    border: 1px solid #eeeeee
    padding: 20px
  .btn
    display: block
    margin: auto

.container
  .row
    margin-right: 0
    margin-left: 0
    margin-top: 20px
  .card
    .card-img-top
      height: 150px
    .card-body
      button
        display: block
        margin: auto
        border-radius: 20px
      .card-title
        a
          color: $main-color
          cursor: pointer
.card
  a
    color: $main-color!important
    cursor: pointer
.card-img-top
  height: 150px
.card-title
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  transition: 0.3s ease-in
  &:hover
    text-overflow: unset
    white-space: unset
