<section>
  <div class="theme-id">
    <div class="container">
      <div class="row" id="head">
        <div class="col-sm-12">
          <h4>{{pageTitle}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="pills">
    <div class="col-md-4 col-sm-12">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active btn-primary" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-active" role="tab" aria-controls="v-pills-essential" (click)=" activeView = true; nonView = false" aria-selected="true">
         القوالب
        </a>

          <a class="nav-link active btn-primary" data-toggle="pill" href="#v-pills-non" role="tab" aria-controls="v-pills-essential" (click)=" activeView = false; nonView = true" aria-selected="true">
           الخدمات
          </a>

      </div>
    </div>
    <div class="col-md-8 col-sm-12 mt-sm-2">
      <div class="tab-content">
        <div class="tab-pane fade show active" *ngIf="activeView" id="v-pills-active" role="tabpanel">
          <div class="lds-roller" *ngIf="!loaderThemesFinished">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorThemes">
            {{errorThemes}}
          </div>
          <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="noThemes">
            {{noThemes}}
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2" *ngFor="let theme of themes">
              <div class="card">
                <img class="card-img-top" src="{{theme.image}}" alt="theme-item">
                <div class="card-body">
                  <h5 class="card-title text-center"><a (click)="openTheme(theme.id, theme.slug)">{{theme.title}}</a> </h5>
                </div>
              </div>
              <div class="row">
                <button type="button" class="btn btn-outline-success border-0" (click)="download(theme.file)"> تحميل القالب </button>
              </div>
            </div>


          </div>


        </div>
        <div class="tab-pane fade show active" *ngIf="nonView" id="v-pills-non" role="tabpanel">

          <div class="lds-roller" *ngIf="!loaderServiceFinished">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorServices">
            {{errorServices}}
          </div>
          <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="noServices">
            {{noServices}}
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2" *ngFor="let service of services">
              <div class="card">
                <img class="card-img-top" src="{{service.image}}" alt="theme-item">
                <div class="card-body">
                  <h5 class="card-title text-center"><a (click)="openService(service.id, service.slug)">{{service.title}}</a> </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" *ngIf="(service.file.indexOf('.zip') !== -1 || service.file.indexOf('.rar') !== -1)">
                  <button type="button" class="btn btn-outline-success border-0"  (click)="download(service.file)"> تحميل الخدمه </button>
                </div>
              </div>
            </div>


          </div>


        </div>

      </div>
    </div>
  </div>
</section>
