.theme-id {
  background: #1872bf;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px; }
  .theme-id #head {
    color: white; }

#pills {
  margin-left: 0;
  margin-right: 0; }
  #pills .nav {
    border: 1px solid #eeeeee;
    padding: 20px; }
    #pills .nav a {
      margin: 10px; }
  #pills .tab-content {
    border: 1px solid #eeeeee;
    padding: 20px; }
  #pills .btn {
    display: block;
    margin: auto; }

.container .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px; }
.container .card .card-img-top {
  height: 150px; }
.container .card .card-body button {
  display: block;
  margin: auto;
  border-radius: 20px; }
.container .card .card-body .card-title a {
  color: #1872bf;
  cursor: pointer; }

.card a {
  color: #1872bf !important;
  cursor: pointer; }

.card-img-top {
  height: 150px; }

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s ease-in; }
  .card-title:hover {
    text-overflow: unset;
    white-space: unset; }

/*# sourceMappingURL=user-messages.component.css.map */
