<section>
  <div class="theme-id">
    <div class="container">
      <div class="row" id="head">
        <div class="col-sm-12">
          <h4>{{pageTitle}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="pills">
    <div class="col-md-4 col-sm-12">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active btn-primary" (click)="openURL('')"  data-toggle="pill" href="#v-pills-essential" role="tab" aria-controls="v-pills-essential" aria-selected="true">
          اضافه مقاله
          <i class="fas fa-plus"></i>
        </a>
        <div class="btn-group">
          <a id="drop" class="nav-link btn-primary btn-block text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            المقالات
            <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu">
            <a class="nav-link bg-success" (click)="openURL('active')" data-toggle="pill" role="tab" aria-controls="v-pills-active" aria-selected="true" >المفعله </a>
            <a class="nav-link bg-dark" (click)="openURL('not-active')" data-toggle="pill" role="tab" aria-controls="v-pills-non" aria-selected="true" >الغير مفعله</a>
          </div>
        </div>


      </div>
    </div>
    <div class="col-md-8 col-sm-12 mt-sm-2">
      <div class="tab-content">
        <router-outlet>

        </router-outlet>

      </div>
    </div>
  </div>
</section>

