<section id="theme-id-container">
  <div class="theme-id">
    <div class="container">
      <div class="row head">
        <div class="col-sm-12">
          <h4>{{theme.title}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="theme-content" *ngIf="loaderFinished">
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-tabs" id="theme-details-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">تفاصيل القالب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">التعليقات</a>
          </li>

        </ul>

        <div class="tab-content pt-3" id="theme-details-tabs-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="preview-container">
              <img src="{{theme.image}}" id="cover">
              <div class="container" id="fancy">
                <ng-container *ngFor="let theme of theme.images; let i = index">
                  <img src="{{theme.image}}" class="pre-img" [ngClass]="{active: i ===0}">
                </ng-container>
              </div>
              <div class="row mt-4 mb-4 border-top pt-2">
                <div class="col-md-12">
                  <div class="row" *ngIf="theSameUser">
                    <div class="col-md-4 col-sm-12">
                      <span>
                        <i class="fas fa-download"></i> {{theme.download_count}}
                      </span>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <span>
                        <i class="fas fa-eye"></i> {{theme.viewer_count}}
                      </span>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <span>
                        <i class="fas fa-comments"></i> {{theme.comments.length}}
                      </span>
                    </div>

                  </div>
                  <div class="row mt-3 pt-3" *ngIf="theSameUser">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-outline-primary preview-btn" (click)="openUrl(theme.url)"> عرض الديمو <i class="fas fa-desktop mr-3"></i></button>
                    </div>
                  </div>
                  <div class="row" *ngIf="!theSameUser">
                    <div class="col-md-3 col-sm-6">
                      <span>
                        <i class="fas fa-download"></i> {{theme.download_count}}
                      </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <span>
                        <i class="fas fa-eye"></i> {{theme.viewer_count}}
                      </span>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <span>
                        <i class="fas fa-comments"></i> {{theme.comments.length}}
                      </span>
                    </div>
                    <div class="col-md-3 col-sm-6" *ngIf="makeThemeRate">
                      <div class="row" id="user-rate">
                        <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
                        <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
                        <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
                        <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
                        <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6" *ngIf="!makeThemeRate && !theSameUser">
                      <div class="row">
                        <span><i class="fas fa-star blog-starts" [class.rate]="theme.rate >= 5" (click)="addThemeRate(5)" (mouseover)="colorStars(0)" (mouseleave)="uncolorStars(0)"></i></span>
                        <span><i class="fas fa-star blog-starts" [class.rate]="theme.rate >= 4" (click)="addThemeRate(4)" (mouseover)="colorStars(1)" (mouseleave)="uncolorStars(1)"></i></span>

                        <span><i class="fas fa-star blog-starts" [class.rate]="theme.rate >= 3" (click)="addThemeRate(3)" (mouseover)="colorStars(2)" (mouseleave)="uncolorStars(1)"></i></span>

                        <span><i class="fas fa-star blog-starts" [class.rate]="theme.rate >= 2" (click)="addThemeRate(2)" (mouseover)="colorStars(3)" (mouseleave)="uncolorStars(1)"></i></span>

                        <span><i class="fas fa-star blog-starts" [class.rate]="theme.rate >= 1" (click)="addThemeRate(1)" (mouseover)="colorStars(4)" (mouseleave)="uncolorStars(1)"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row mt-3 pt-3" *ngIf="!theSameUser">
                <div class="col-md-6">
                  <button type="button" class="btn btn-outline-primary preview-btn" (click)="openUrl(theme.url)"> عرض الديمو <i class="fas fa-desktop mr-3"></i></button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-outline-success preview-btn" (click)="buyTheme(theme.id)"> شراء القالب <i class=" fas fa-shopping-cart mr-3"></i></button>
                </div>
              </div>
            </div>
            <div class="container mt-5 content-container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h4 class="pb-3 m-auto">{{theme.title}}</h4>
                  <p class="text-muted">
                    {{theme.description}}
                  </p>
                </div>
                <div class="col-sm-12 text-center">
                  <p class="text-muted" [innerHTML]="theme.content">
                  </p>
                </div>
              </div>
              <div class="row mt-5">
                <h4 class="pb-3">المميزات:</h4>
                <div class="row mt-3">
                  <ul class="list-group text-muted">
                    <li class="list-group-item" *ngFor="let adv of theme.advantages"><b class="ml-2">{{adv.title}}</b>: {{adv.value}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade mt-3" id="comments" role="tabpanel">
            <div class="row">
              <p class="text-muted"><span>{{theme.comments.length}}</span>  تعليق علي قالب "{{theme.title}}"</p>
            </div>

            <div class="container">
              <div class="row mt-3 mb-3" *ngFor="let comment of theme.comments">
                <div class="media">
                  <img class="ml-3" src="../../../../../assets/images/7bc30728b3091c6356bda1e4c8b6fbf2.png" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0">
                      <a href="#" class="user">{{comment.name}}</a>
                      <p class="date">{{comment.created_at | date: 'medium'}}</p>
                    </h5>
                    <p>
                      {{comment.comment}}
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <h6 class="m-2 p-2 font-weight-bold">اكتب تعليق</h6>
            <div class="row">

              <form [formGroup]="newForm" (ngSubmit)="addComment()">
                <div class="form-group" *ngIf="!name">
                  <label for="name">الاسم</label>
                  <input type="text" class="form-control" formControlName="name" id="name">
                </div>
                <div class="form-group row" *ngIf="!email">
                  <label for="email">البريد الالكتروني</label>
                  <input type="email" class="form-control" formControlName="email" id="email">
                </div>

                <div class="form-group">
                  <label for="comment">تعليقك</label>
                  <textarea class="form-control" id="comment" formControlName="comment" rows="10" cols="50"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">ارسل</button>

              </form>
              <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="!commentStatus && commentStatus !== undefined">
                بعض الخانات فارغه او غير صحيحه
              </div>


              <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="commentStatus">
                تم اضافه التعليق بنجاح وفي انتظار موافقه الاداره عليه
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" id="related-posts">
        <h5 class="text-center p-3">معلومات عن العضو</h5>
        <div class="timeline-wrapper" *ngIf="!userRate">

          <div class="timeline-item">
            <div class="animated-background">
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>
              <div class="background-masker content-top"></div>
              <div class="background-masker content-first-end"></div>
              <div class="background-masker content-second-line"></div>
              <div class="background-masker content-second-end"></div>
              <div class="background-masker content-third-line"></div>
              <div class="background-masker content-third-end"></div>
            </div>
          </div>
        </div>
        <div class="card mb-3" id="user-info"  *ngIf="userRate">
          <img class="card-img-top" src="../../../../../assets/images/7bc30728b3091c6356bda1e4c8b6fbf2.png" alt="related-posts">
          <div class="card-body">
            <div class="card-text">
              <b>
                {{theme.user.name}}
              </b>
              <span class="mt-3"> عضو منذ:  <b>{{theme.user.created_at | date:'mediumDate'}} </b></span>
              <span class="mt-3 active-user" *ngIf="theme.user_is_online"> نشط الان</span>

              <div class="row mt-3" *ngIf="makeUserRate">
                <span><i class="fas fa-star" [class.text-warning]="userRate >= 5"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="userRate >= 4"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="userRate >= 3"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="userRate >= 2"></i></span>
                <span><i class="fas fa-star" [class.text-warning]="userRate >= 1"></i></span>


              </div>
              <div class="row mt-3" *ngIf="!makeUserRate && !theSameUser">
                <span><i class="fas fa-star user-starts" [class.rate]="userRate >= 5" (click)="addUserRate(5)" (mouseover)="colorStarsUser(0)" (mouseleave)="uncolorStarsUser(0)"></i></span>
                <span><i class="fas fa-star user-starts" [class.rate]="userRate >= 4" (click)="addUserRate(4)" (mouseover)="colorStarsUser(1)" (mouseleave)="uncolorStarsUser(1)"></i></span>

                <span><i class="fas fa-star user-starts" [class.rate]="userRate >= 3" (click)="addUserRate(3)" (mouseover)="colorStarsUser(2)" (mouseleave)="uncolorStarsUser(1)"></i></span>

                <span><i class="fas fa-star user-starts" [class.rate]="userRate >= 2" (click)="addUserRate(2)" (mouseover)="colorStarsUser(3)" (mouseleave)="uncolorStarsUser(1)"></i></span>

                <span><i class="fas fa-star user-starts" [class.rate]="userRate >= 1" (click)="addUserRate(1)" (mouseover)="colorStarsUser(4)" (mouseleave)="uncolorStarsUser(1)"></i></span>

              </div>
              <p class="text-muted m-2">{{theme.user.bio}}</p>
              <button class="btn btn-outline-primary btn-block" routerLink="../../../../user/messages/conversation/{{theme.user.id}}" *ngIf="!theSameUser && name">تواصل معه<i class="far fa-envelope mr-2"></i></button>
            </div>

          </div>
        </div>
        <h4 class="text-center mt-5">مواضيع ذات صله بالعضو</h4>

        <div class="card related-post-user" *ngFor="let theme of userThemes">
          <img class="card-img-top related" src="{{theme.image}}" alt="related-posts">
          <div class="card-body">
            <p class="card-text text-center">
              <a (click)="openDetails(theme.id, theme.slug, theme.type)">
                {{theme.title}}
              </a>

            </p>
          </div>
        </div>
        <div class="card ml-2 mb-3 ads" *ngFor="let adv of advs">
          <img *ngIf="adv.type === 'image'" class="card-img-top" (click)="openAd(adv.url)" height="300px" src="{{adv.file}}" alt="related-posts">
          <video *ngIf="adv.type === 'video'" controls src="{{adv.file}}" height="300px"></video>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="related-post-different" *ngIf="loaderFinished">
    <h5 class="text-center p-3">المواضيع المشابهه</h5>
    <div class="col-md-3" *ngFor="let theme of relatedThemes">
      <div class="card mb-3">
        <img class="card-img-top related" src="{{theme.image}}" alt="related-posts">
        <div class="card-body">
          <p class="card-text text-center">
            <a (click)="openDetails(theme.id, theme.slug, theme.type)">
              {{theme.title}}
            </a>

          </p>
        </div>
      </div>
    </div>

    <div class="card ml-2 mb-3 ads" *ngFor="let adv of advs">
      <img *ngIf="adv.type === 'image'" class="card-img-top" (click)="openAd(adv.url)" height="300px" src="{{adv.file}}" alt="related-posts">
      <video *ngIf="adv.type === 'video'" controls src="{{adv.file}}" height="300px"></video>
    </div>
  </div>

</section>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-secondary" style="display: none"></button>
  <button type="button" class="btn btn-secondary" (click)="share('lin')"><i class="fab fa-linkedin-in"></i></button>
  <button type="button" class="btn btn-secondary" (click)="share('pin')"><i class="fab fa-pinterest-p"></i></button>
  <button type="button" class="btn btn-secondary" (click)="share('google')"><i class="fab fa-google-plus-g"></i></button>
  <button type="button" class="btn btn-secondary" (click)="share('twitter')"><i class="fab fa-twitter"></i></button>
  <button type="button" class="btn btn-secondary" (click)="share('fb')"><i class="fab fa-facebook-f"></i></button>
  <button type="button" class="btn btn-secondary share">شارك</button>

</div>

<div id="toast"></div>
