<div class="lds-roller" *ngIf="!loaderFinished">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="container" id="chat" *ngIf="loaderFinished">
  <header class="row">
    <div class="col-sm-12">
      <b>{{ticketInfo?.title}}</b><br>
    </div>
  </header>
  <main id="messages">
    <ng-container *ngFor="let message of ticketMessages">
      <div class="alert alert-dark mt-2" *ngIf="message?.type == 'user'" role="alert">
        <b [innerHTML]="message?.message"></b><br>
        <i >{{message?.created_at | date:'MMM d, y, h:mm'}}</i>
      </div>
      <div class="alert alert-success  mt-2" *ngIf="message?.type == 'admin'" role="alert">
        <b [innerHTML]="message?.message"></b><br>
        <i >{{message?.created_at | date:'MMM d, y, h:mm a'}}</i>
      </div>
    </ng-container>
  </main>
  <footer class="mr-md-4 mt-5">
    <div class="row">
      <div class="col-md-10">
        <ck-editor name="editor1" style="width: 100%" [(ngModel)]="message"  id="content" skin="moono-lisa" [fullPage]="true"></ck-editor>
      </div>
      <div class="col-md-2" id="send-btn">
        <button id="btn-send"  class="btn btn-outline-dark" (click)="sendMessage()"><i class="fab fa-telegram-plane"></i></button>
      </div>
    </div>
  </footer>
</div>
