#chat {
  border: 1px solid #eeee;
  padding: 20px; }
  #chat header {
    background-color: rgba(214, 215, 219, 0.38);
    padding: 10px; }
  #chat #messages {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden; }
    #chat #messages .alert-success {
      color: white !important;
      background-color: #efb614 !important;
      border: 0 rgba(195, 230, 203, 0.2902) !important; }
    #chat #messages .alert-dark {
      color: white;
      background-color: #614ed3 !important;
      border: 0;
      text-align: left;
      margin-left: 10px; }
  #chat footer {
    padding: 10px;
    border-top: 1px solid #eeeeee; }

@media screen and (max-width: 768px) {
  #send-btn {
    text-align: end; }
    #send-btn #btn-send {
      width: 100% !important; } }

/*# sourceMappingURL=ticket-messages.component.css.map */
