#chat
  border: 1px solid #eeee
  padding: 20px
  header
    background-color: rgba(214, 215, 219, 0.38)
    padding: 10px
  #messages
    height: 400px
    overflow-y: auto
    overflow-x: hidden
    .alert-success
      color: white!important
      background-color: #efb614!important
      border: 0 rgba(195, 230, 203, 0.2901960784313726)!important
    .alert-dark
      color: white
      background-color: #614ed3!important
      border: 0
      text-align: left
      margin-left: 10px
  footer
    padding: 10px
    border-top: 1px solid #eeeeee
@media screen and (max-width: 768px)
  #send-btn
    text-align: end
    #btn-send
      width: 100%!important
