$main-color: #1872bf
#all
  .card
    .card-img-top
      height: 150px
    .card-body
      button
        display: block
        margin: auto
        border-radius: 20px
        a
          color: $main-color
          cursor: pointer
.buy
  a
    color: #049dff
    font-size: 12px

    &:hover
      text-decoration: none
.card-title
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  transition: 0.3s ease-in
  &:hover
    text-overflow: unset
    white-space: unset
.categories
  background-color: rgba(204, 204, 204, 0.27)
  color: black
  padding: 20px
  margin-bottom: 20px
  .list-group-item
    border: 0
    color: black
    cursor: pointer
    outline: 0
  .list-group-item.active
    background-color: white
    border-color: white
    color: $main-color
    border-right: 1px solid $main-color
#category-med
  display: none
@media screen and (max-width: 993px)
  #category-med
    display: block
  #category-lg
    display: none
@media screen and (max-width: 768px)
  .section-title
    text-align: center!important
a
  cursor: pointer
  color: $main-color!important
