<div class="theme-id">
  <div class="container">
    <div class="row" id="head">
      <div class="col-sm-12">
        <h3 style="color: white">الخدمات </h3>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="category-med">
        <div class="categories">
          <h5>الاقسام</h5>
          <ul class="list-group" style="list-style-type: none" *ngIf="!categories">
            <li>
              <div class="timeline-wrapper">

                <div class="timeline-item">
                  <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-group" *ngIf="categories">
            <li class="list-group-item active d-flex justify-content-between align-items-center" routerLink="services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">كل الاقسام <span class="badge badge-pill badge-dark">{{allCount}}</span> </li>
            <ng-container *ngFor="let cat of categories">
              <li class="list-group-item d-flex justify-content-between align-items-center" (click)="gotoLink(cat.id, cat.slug)">{{cat.name}} <span class="badge badge-pill badge-dark">{{cat.count}}</span> </li>
            </ng-container>


          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="lds-roller" *ngIf="!loaderFinished">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="row mt-2  mb-3" *ngIf="loaderFinished">
          <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let service of services">
            <div class="card">
              <img class="card-img-top" src="{{service.image}}" alt="theme-item">
              <div class="card-body">
                <h5 class="card-title text-center"><a (click)="gotoDetails(service.slug, service.id)">{{service.title}}</a> </h5>
                <p class="card-text text-center border-top buy">
                  <a (click)="gotoDetails(service.slug, service.id)">{{service.cost}} اشتروا هذه الخدمه</a>
                </p>

              </div>
            </div>
          </div>
          <ng-container *ngFor="let services of pageService; let i = index">

          <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let service of pageService[i]">
            <div class="card">
              <img class="card-img-top" src="{{service.image}}" alt="theme-item">
              <div class="card-body">
                <h5 class="card-title text-center"><a (click)="gotoDetails(service.slug, service.id)">{{service.title}}</a> </h5>
                <p class="card-text text-center border-top buy">
                  <a (click)="gotoDetails(service.slug, service.id)">{{service.cost}} اشتروا هذه الخدمه</a>
                </p>

              </div>
            </div>
          </div>

          </ng-container>

        </div>
        <div class="lds-ellipsis" *ngIf="!pageLoader && loaderFinished">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
            </div>
      <div class="col-lg-3" id="category-lg">
        <div class="categories">
          <h5>الاقسام</h5>
          <ul class="list-group" style="list-style-type: none" *ngIf="!categories">
            <li>
              <div class="timeline-wrapper">

                <div class="timeline-item">
                  <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                    <div class="background-masker content-top"></div>
                    <div class="background-masker content-first-end"></div>
                    <div class="background-masker content-second-line"></div>
                    <div class="background-masker content-second-end"></div>
                    <div class="background-masker content-third-line"></div>
                    <div class="background-masker content-third-end"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-group" *ngIf="categories">
            <li class="list-group-item active d-flex justify-content-between align-items-center" routerLink="services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">كل الاقسام  <span class="badge badge-pill badge-dark">{{allCount}}</span> </li>
            <ng-container *ngFor="let cat of categories">
              <li class="list-group-item d-flex justify-content-between align-items-center" (click)="gotoLink(cat.id, cat.slug)" [class.active]="currentID == cat.id">{{cat.name}} <span class="badge badge-pill badge-dark">{{cat.count}}</span> </li>
            </ng-container>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
