<div class="theme-id"  [style.opacity]="opacity">
  <div class="container">
    <div class="row" id="head">
      <div class="col-sm-12">
        <h4>{{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
  <h3 class="text-center">تعديل مقاله</h3>
  <form [formGroup]="newForm" method="post" enctype="multipart/form-data" (ngSubmit)="newSubmit()">
    <div class="form-group mt-3" *ngIf="articleCategory">
      <label for="category">تصنيف المقاله </label>
      <select id="category" class="form-control">
        <option selected value="{{articleID}}">{{articleCategory}}</option>
        <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.title}}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label for="display">اسم المقاله </label>
      <input type="text" placeholder="مقاله عن العزل الحراري" class="form-control" id="display" formControlName="name">
    </div>
    <div class="form-group mt-3">
      <label>وصف المقاله</label>
      <ck-editor name="editor1" formControlName="content" id="content" skin="moono-lisa" [fullPage]="true"></ck-editor>
    </div>
    <div class="form-group mt-3">
      <label for="main_video">عنوان الفيديو الرئيسي</label>
      <input type="text" class="form-control" id="main_video" formControlName="main_video" placeholder="https://www.youtube.com/example">
    </div>
    <div class="form-group mt-3" formArrayName="videos">
      <div>
        <label>الفيديوهات</label>

        <button type="button" class="btn btn-outline-success mb-2" (click)="addVideos()">اضافه فيديو</button>
      </div>
      <div class="row" *ngFor="let video of videos.controls; let i=index">
        <div class="col">
          <input type="text" class="form-control mb-1" id="video" *ngIf="i%2===0" [formControlName]="i" placeholder="عنوان الفيديو">
        </div>
        <div class="col">
          <input type="text" class="form-control mb-1" id="video_" *ngIf="i%2===0" [formControlName]="i+1" placeholder="رابط الفيديو علي اليوتيوب">
        </div>

        <button class="btn-delete-feature ml-3" *ngIf="i%2===0 && i!==0" (click)="removeVideo(i)"><i class="fas fa-times-circle"></i></button>

      </div>


    </div>
    <div class="custom-file mt-3">
      <input type="file" accept=".png, .jpg, .jpeg"  class="custom-file-input" id="customFile" #picked (change)="selectImage(picked)">
      <label class="custom-file-label" for="customFile"> الصوره الرئيسيه</label>
      <p class="text-danger text-center">{{imageError}}</p>
    </div>

    <figure class="text-center" *ngIf="!imageError">
      <img src="{{imageUrl}}">
    </figure>

    <button type="submit" class="btn btn-primary mt-2">تعديل مقاله </button>
  </form>
<div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successNew === false">
  {{addError}}
</div>


<div id="toast"></div>
<div class="lds-roller" id="loader-sumbit" *ngIf="!submitLoader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

