<div class="tab-pane" id="v-pills-non" role="tabpanel">
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorThemesNonActive">
    {{errorThemesNonActive}}
  </div>
  <div class="row" *ngIf="loaderFinished">
    <div class="col-md-6 col-sm-12 mb-2" *ngFor="let theme of myThemesNonActiveFree; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{theme.image}}" alt="theme-item">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="gotoThemeNonActive(theme.id)">{{theme.title}}</a> </h5>
          <p class="card-text">
          <p class="text-center m-2">

            <span><i class="far fa-clock"></i></span>

          </p>
          <p class="text-center m-2"><span class="badge badge-info">مجاني</span></p>


        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit('free',theme.id,theme.slug)"> تعديل القالب </button>
        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteTheme(myThemesNonActiveFree,theme.id, i)"> حذف القالب </button>
      </div>
    </div>
    <div class=" col-md-6 col-sm-12 mb-2" *ngFor="let theme of myThemesNonActivePaid; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{theme.image}}" alt="theme-item">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="gotoThemeNonActive(theme.id)">{{theme.title}}</a> </h5>
          <p class="card-text">
          <p class="text-center m-2">

            <span><i class="far fa-clock"></i></span>

          </p>
          <p class="text-center m-2"><span class="badge badge-danger">مدفوع</span></p>


        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit('paid',theme.id,theme.slug)"> تعديل القالب </button>
        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteTheme(myThemesNonActivePaid,theme.id, i)">  حذف القالب </button>
      </div>
    </div>

  </div>


</div>
<div id="toast"></div>
