.row
  margin-left: 0
  margin-right: 0
#header
  ul
    list-style-type: none
  button
    transition: 0.3s ease-in
    &:hover
      box-shadow: 2px 2px 1px 1px rgba(158, 158, 158, 0.23921568627450981)

iframe
  border: 10px solid #eeeeee
#about
  ul
    list-style-type: circle
    margin: 20px
  #img-about
    width: 100%
.about-details
  border-right: 30px solid white
#tracks
  .card-img-top
    width: 100px
    padding: 10px
    margin: auto
#toWhome
  #toWhome-img
    width: 100%
#certificate
  img
    width: 100%
    height: 40%
#sign-btn
  .btn
    margin: auto
    border-radius: 0
    padding: 10px

@media screen and (max-width: 768px)
  #header
    text-align: center
  #learn-video
    display: none
@media screen and (max-width: 600px)
  #img-about
    display: none
  #toWhome-img
    display: none
