<section class="row p-3" id="header" [style.backgroundColor] = main_color>
  <div class="col-md-6 p-5">
<h2 class="text-white font-weight-bold">{{course.title}}</h2>
    <p class="p-3 mr-5 text-muted" [innerHTML]="course.title_adv"></p>
    <button class="btn m-3 text-white" [style.backgroundColor] = course.color>سجل الان</button>
    <button class="btn text-white" style="background-color:rgba(237, 237, 237, 0.36)" (click)="smoothScroll()"> اعرف المزيد</button>

  </div>
  <div class="col-md-6">

    <iframe width="100%" height="100%" [src]="video_url | safe" allowfullscreen>
    </iframe>
  </div>
</section>
<div class="row pt-5" id="about">
  <div class="col-md-6 about-details">
    <h4 class="text-center" [style.color] = course.color>تفاصيل الدوره</h4>
    <p class="text-muted mt-3" [innerHTML]="course.description">

    </p>

  </div>
  <div class="col-md-6">
<img src="{{course.description_image}}" id="img-about">
  </div>
</div>
<div class="row pt-5" id="tracks">
  <h4 class="text-center m-auto pb-3" [style.color] = course.color>مسارات الدوره</h4>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let branch of course.branshes">
      <div class="card" style="border-top: 2px solid orangered!important">
        <img class="card-img-top" src="{{branch.image}}" alt="Card image cap">
        <div class="card-body">
          <h6 class="text-center" [style.color] = course.color>{{branch.title}} </h6>
          <p class="card-text" [innerHTML]="branch.description"></p>
        </div>
      </div>
    </div>

  </div>

</div>
</div>
<div class="row pt-5" id="learn">
  <div class="col-md-6">
    <iframe id="learn-video" width="100%" height="300px"[src]="videoDes_url | safe" allowfullscreen>
    </iframe>
  </div>
  <div class="col-md-6 about-details">
    <h4 class="text-center" [style.color] = course.color>ماذا ستتعلم في هذه الدوره ؟ </h4>
    <p class="text-muted mt-3" [innerHTML]="course.learn"></p>
  </div>

</div>
<div class="row pt-5" id="toWhome">

  <div class="col-md-6 about-details">
    <h4 class="text-center"[style.color] = course.color>لمن هذه الدوره ؟ </h4>
    <p class="text-muted mt-5" [innerHTML]="course.for"></p>

  </div>
  <div class="col-md-6">
    <img src="{{course.for_image}}" id="toWhome-img">
  </div>
</div>

<div class="container pt-5" id="certificate">
  <h4 class="text-center m-auto pb-3" [style.color] = course.color>شهاده معتمده</h4>

  <div class="col-md-12">
    <div class="row">
      <p class="text-muted" [innerHTML]="course.certificate">
      </p>
    </div>
    <div class="row">
<img src="{{course.certificate_image}}">
    </div>

  </div>
</div>
<div class="row p-3 mt-3 bg-dark" id="sign-btn" *ngIf="!book">
  <button class="btn btn-outline-light" (click)="bookCourse()"> سجل بهده الدوره <span>{{course.cost}}$</span></button>
</div>
<div *ngIf="bookNow">
  <p class="row p-3 mt-3 bg-success text-white">تم التسجيل بنجاح في الدوره</p>
</div>
