.theme-id {
  background: #1872bf;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px; }
  .theme-id #head {
    color: white; }

#drop {
  cursor: pointer; }
  #drop i {
    position: absolute;
    left: 15px;
    font-size: 20px; }

.fa-plus {
  position: absolute;
  left: 51px; }

.custom-file label {
  padding: 0.375rem 5.75rem !important; }

figure {
  display: block;
  margin: auto; }
  figure img {
    width: 20%;
    margin-top: 10px; }

#pills {
  margin-left: 0;
  margin-right: 0; }
  #pills .nav {
    border: 1px solid #eeeeee;
    padding: 20px; }
    #pills .nav a {
      margin: 10px;
      color: white;
      cursor: pointer !important; }
  #pills .tab-content {
    border: 1px solid #eeeeee;
    padding: 20px;
    margin-bottom: 5rem; }
  #pills .btn {
    display: block;
    margin: auto; }

.container .row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px; }
.container .card .card-body button {
  display: block;
  margin: auto;
  border-radius: 20px; }

.fa-clock {
  font-size: 30px; }

.theme-images {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  height: 150px; }

.btn-delete {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  margin-right: -25px;
  margin-top: 9px; }

.btn-delete-feature {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 15px; }

.options {
  position: absolute;
  right: 45px; }

@media screen and (max-width: 600px) {
  .options {
    position: static; }

  .theme-images {
    width: 50%; } }
@media screen and (max-width: 500px) {
  .options {
    display: none; } }
.card-title a {
  color: #1872bf !important;
  cursor: pointer; }

.card-img-top {
  height: 150px; }

select {
  height: calc(2.25rem + 15px); }

/*# sourceMappingURL=user-themes.component.css.map */
