*
  padding: 0
  margin: 0
  box-sizing: border-box
html
  overflow-x: hidden
body
  font-family: 'Cairo', sans-serif
  text-align: right
  direction: rtl
$main-color: #1872bf
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  .head
    color: white
.btn-group
  margin: 30px 0
  .share
    border-radius: 0
    cursor: default!important
    &:hover
      background-color: #6c757d!important
      border-color: #6c757d!important

.lds-roller
  display: block
  position: relative
  width: 64px
  height: 64px
  margin: auto
  div
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    transform-origin: 32px 32px
    &:after
      content: " "
      display: block
      position: absolute
      width: 6px
      height: 6px
      border-radius: 50%
      background: $main-color
      margin: -3px 0 0 -3px
    &:nth-child(1)
      animation-delay: -0.036s
      &:after
        top: 50px
        left: 50px
    &:nth-child(2)
      animation-delay: -0.072s
      &:after
        top: 54px
        left: 45px
    &:nth-child(3)
      animation-delay: -0.108s
      &:after
        top: 57px
        left: 39px
    &:nth-child(4)
      animation-delay: -0.144s
      &:after
        top: 58px
        left: 32px
    &:nth-child(5)
      animation-delay: -0.18s
      &:after
        top: 57px
        left: 25px
    &:nth-child(6)
      animation-delay: -0.216s
      &:after
        top: 54px
        left: 19px
    &:nth-child(7)
      animation-delay: -0.252s
      &:after
        top: 50px
        left: 14px
    &:nth-child(8)
      animation-delay: -0.288s
      &:after
        top: 45px
        left: 10px

@keyframes lds-roller
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
.related-post-user
  width: 90%
  margin: 0 auto 10px
#cover
  height: 300px

.lds-ellipsis
  display: block
  margin: auto
  position: relative
  width: 64px
  height: 64px
  div
    position: absolute
    top: 27px
    width: 11px
    height: 11px
    border-radius: 50%
    background: $main-color
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
    &:nth-child(1)
      left: 6px
      animation: lds-ellipsis1 0.6s infinite
    &:nth-child(2)
      left: 6px
      animation: lds-ellipsis2 0.6s infinite
    &:nth-child(3)
      left: 26px
      animation: lds-ellipsis2 0.6s infinite
    &:nth-child(4)
      left: 45px
      animation: lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1
  0%
    transform: scale(0)

  100%
    transform: scale(1)


@keyframes lds-ellipsis3
  0%
    transform: scale(1)

  100%
    transform: scale(0)


@keyframes lds-ellipsis2
  0%
    transform: translate(0, 0)

  100%
    transform: translate(19px, 0)
.timeline-item
  background-color: #fff
  border-radius: 3px
  padding: 12px
  margin: 0 auto
  max-width: 472px
  min-height: 200px

@keyframes placeHolderShimmer
  0%
    background-position: -468px 0

  100%
    background-position: 468px 0


.animated-background
  animation-duration: 1.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite
  animation-timing-function: linear
  animation-name: placeHolderShimmer
  background: #f6f7f8
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
  background-size: 800px 104px
  height: 96px
  position: relative

.background-masker
  background: #fff
  position: absolute
  &.header-top, &.header-bottom, &.subheader-bottom
    top: 0
    left: 40px
    right: 0
    height: 10px
  &.header-left, &.subheader-left, &.header-right, &.subheader-right
    top: 10px
    left: 40px
    height: 8px
    width: 10px
  &.header-bottom
    top: 18px
    height: 6px
  &.subheader-left, &.subheader-right
    top: 24px
    height: 6px
  &.header-right
    width: auto
    left: 300px
    right: 0
  &.subheader-right
    width: auto
    left: 300px
    right: 0
  &.subheader-bottom
    top: 30px
    height: 10px
  &.content-top, &.content-second-line, &.content-third-line, &.content-second-end, &.content-third-end, &.content-first-end
    top: 40px
    left: 0
    right: 0
    height: 6px
  &.content-top
    height: 20px
  &.content-first-end, &.content-second-end, &.content-third-end
    width: auto
    left: 380px
    right: 0
    top: 60px
    height: 8px
  &.content-second-line
    top: 68px
  &.content-second-end
    left: 420px
    top: 74px
  &.content-third-line
    top: 82px
  &.content-third-end
    left: 300px
    top: 88px
.ads
  img, video
    cursor: pointer
.active-user
  &:after
    position: absolute
    width: 10px
    height: 10px
    border-radius: 50%
    content: ''
    background-color: green
    color: green
    margin: 10px 10px 0 0
.rate
  color: rgb(255, 193, 7)!important
@media screen and (max-width: 600px)
  #cover
    height: 200px!important
  #fancy
    span
      display: none
