<div id="background">
  <div id="background-overlay">
  <div id="background-text">
<h1>بالمجان</h1>
  <p>يمكن ان يبدل هذا النص فيما بعد</p>
    <button class="button" routerLink="register" *ngIf="!exactlyUser"><span>سجل الان </span></button>
    <div id="search">
      <p class="mb-0 mt-3 text-muted">اختر القسم قبل البحث</p>

      <input type="text" name="search" (keyup)="search($event.target.value)" placeholder="ابحث هنا..">
      <div class="row text-center btn-container">
        <button type="button" class="btn btn-outline-light btn-search" [ngClass]="{'selected': searchType === 'theme'}"  (click)="searchType = 'theme'">قوالب</button>
        <button type="button" class="btn btn-outline-light btn-search" [ngClass]="{'selected': searchType === 'service'}"  (click)="searchType = 'service'">خدمات</button>
        <button type="button" class="btn btn-outline-light btn-search" [ngClass]="{'selected': searchType === 'video'}" (click)="searchType = 'video'">شروحات</button>
        <button type="button" class="btn btn-outline-light btn-search" [ngClass]="{'selected': searchType === 'blog'}" (click)="searchType = 'blog'">مدونات</button>
      </div>
      <div id="search-result">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let data of searchResult$ | async" (click)="navigateSearch(data.id, data.slug, data.type)">
            {{data.title}}
            <img src="{{data.image}}">
          </li>
        </ul>
      </div>
    </div>
    <span class="scroll-btn">
	<a (click)="smoothScroll()">
		<span class="mouse" >
			<span>
			</span>
		</span>
	</a>
</span>
  </div>
  </div>
</div>
<div class="lds-roller" *ngIf="!loaderFinished">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div id="themes" class="container pt-5" *ngIf="latest">
  <div class="row">
    <div class="col-md-6">
    <h2 class="section-title"><a routerLink="themes">القوالب</a></h2>

    </div>
    <div class="col-md-6" id="filter-container">
      <ul id="filter">
        <li [class.activeLink]="viewLatest">
                        <span>
            <a (click)="latestThemes()" class="main-links">
                اضيف حديثا
            </a>
</span>
        </li>
        <li [class.activeLink]="viewDownload">
                        <span>
            <a (click)="downloadThemes()" class="main-links">
               الاكثر تحميلا
            </a>
</span>
        </li>
        <li [class.activeLink]="viewMost">
                        <span>
            <a (click)="viewThemes()" class="main-links">
                الاكثر مشاهده
            </a>
</span>
        </li>

      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row mt-2" *ngIf="viewLatest&&!viewDownload&&!viewMost">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let theme of latest">
        <div class="card">
          <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a (click)="slugifyThemes(theme.id, theme.type,theme.slug)">{{theme.title}}</a> </h5>
            <p class="card-text">
            <p class="text-center m-2">

            <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
            <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
            <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
            <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
            <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


            </p>

            <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
            <button type="button" class="btn btn-outline-primary" (click)="slugifyThemes(theme.id, theme.type ,theme.slug)">احصل علي القالب</button>

          </div>
        </div>
      </div>


    </div>

    <div class="row mt-2" *ngIf="!viewLatest&&viewDownload&&!viewMost">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let theme of download">
        <div class="card">
          <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a (click)="slugifyThemes(theme.id, theme.type,theme.slug)">{{theme.title}}</a> </h5>
            <p class="card-text">
            <p class="text-center m-2">

              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


            </p>

            <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
            <button type="button" class="btn btn-outline-primary" (click)="slugifyThemes(theme.id, theme.type ,theme.slug)">احصل علي القالب</button>

          </div>
        </div>
      </div>


    </div>
    <div class="row mt-2" *ngIf="!viewLatest&&!viewDownload&&viewMost">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let theme of views">
        <div class="card">
          <img class="card-img-top" src="{{theme.image}}" alt="{{theme.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a (click)="slugifyThemes(theme.id, theme.type,theme.slug)">{{theme.title}}</a> </h5>
            <p class="card-text">
            <p class="text-center m-2">

              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 5"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 4"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 3"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 2"></i></span>
              <span><i class="fas fa-star" [class.text-warning]="theme.rate >= 1"></i></span>


            </p>

            <p class="text-center m-2">عدد التحميلات <span class="text-primary">{{theme.download_count}}</span></p>
            <button type="button" class="btn btn-outline-primary" (click)="slugifyThemes(theme.id, theme.type ,theme.slug)">احصل علي القالب</button>

          </div>
        </div>
      </div>


    </div>


    <div class="row">
      <a class="button_1 but-button btn-all" routerLink="themes">
        مشاهده الكل
      </a>
    </div>
  </div>
</div>
<div class="container pt-5" *ngFor="let service of services">
  <div class="row">
    <div class="col-md-6">
      <h2 class="section-title"><a (click)="slugifyServices(service.id, service.slug)">{{service.name}}</a></h2>

    </div>
  </div>
  <div class="container">
    <div class="row mt-2">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let item of service.items[0]">
        <div class="card">
          <img class="card-img-top" src="{{item.image}}" alt="{{item.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a routerLink="services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.title}}</a> </h5>
            <p class="card-text text-center border-top buy">
               <a routerLink="services/{{item.slug}}/details/{{item.id}}/{{affiliate_codeService}}">{{item.used_count}} اشتروا هذه الخدمه</a>
            </p>
          </div>
        </div>
      </div>




    </div>
    <div class="row"> <a class="button_1 but-button btn-all" (click)="slugifyServices(service.id, service.slug)">
      مشاهده الكل
    </a>
    </div>

  </div>
</div>





<div id="articles" class="container pt-5" *ngIf="articleData">
  <div class="row">
    <div class="col-md-6">
      <h2 class="section-title"><a routerLink="articles">الشروحات</a></h2>

    </div>
  </div>
  <div class="container">
    <div class="row mt-2" *ngIf="articleData">

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let article of articleData">
        <div class="card">
          <img class="card-img-top" src="{{article.image}}" alt="{{article.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a (click)="slugifyArticles(article.id, article.slug)">{{article.title}}</a> </h5>
            <p class="card-text">


          </div>
        </div>
      </div>



    </div>
    <div class="row">
      <a class="button_1 but-button btn-all" routerLink="articles">
        مشاهده الكل
      </a>
    </div>




  </div>
</div>

<div id="blog" class="container pt-5" *ngIf="blogData">
  <div class="row">
    <div class="col-md-6">
      <h2 class="section-title"><a routerLink="blog">المدونه</a> </h2>

    </div>
  </div>
  <div class="container">
    <div class="row mt-2">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let blog of blogData">
        <div class="card">
          <img class="card-img-top" src="{{blog.image}}" alt="{{blog.title}}">
          <div class="card-body">
            <h5 class="card-title text-center"><a (click)="slugOthers('blog', blog.id, blog.slug)">{{blog.title}}</a> </h5>
            <p class="card-text">

            </p>
          </div>
        </div>
      </div>




    </div>

    <div class="row">
      <a class="button_1 but-button btn-all" routerLink="blog">
        مشاهده الكل
      </a>
    </div>



  </div>
</div>

<div id="training" class="container pt-5 pb-3" *ngIf="courses">
  <div class="row">
    <div class="col-md-6">
      <h2 class="section-title"><a routerLink="learning">الدورات التعليميه</a> </h2>

    </div>
  </div>
  <div class="container">
    <div class="row mt-2">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let course of courses">
        <div class="card training-item" [ngStyle]="{'background-image': 'url(' + course.image + ')'}">
          <a routerLink="learning/{{course.slug}}/{{course.id}}" class="course-links">
            {{course.title}}
          </a>
          <div class="training-item-overlay" [style.backgroundColor] = course.color>
    </div>
        </div>
      </div>





    </div>
<div class="row">
  <a class="button_1 but-button btn-all" routerLink="learning">
    مشاهده الكل
  </a>
</div>




  </div>
</div>




<div id="toast"></div>
