@charset "UTF-8";
#background {
  background: url("../../assets/images/pexels-photo-1093906.jpeg") no-repeat fixed center center;
  background-size: cover;
  height: 500px;
  position: relative; }
  #background #background-text {
    text-align: center;
    padding-top: 2%; }
    #background #background-text h1 {
      font-weight: bold;
      font-size: 3.5rem; }
  #background #background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(16, 16, 16, 0.2);
    width: 100%;
    height: 100%; }

a {
  cursor: pointer; }

.card-img-top {
  height: 150px; }

.button {
  border-radius: 4px;
  background-color: #1872bf;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .button span:after {
      content: "«";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s; }
  .button:hover span {
    padding-right: 25px; }
    .button:hover span:after {
      opacity: 1;
      right: 0; }

.buy a {
  color: #049dff; }
  .buy a:hover {
    text-decoration: none; }

.button_1 {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em; }
  .button_1.but-button {
    color: #566473;
    background-color: white; }
    .button_1.but-button.but-button::after, .button_1.but-button.but-button::before {
      content: "";
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px; }
    .button_1.but-button.but-button::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #566473;
      border-right-color: #566473; }
    .button_1.but-button.but-button::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #566473;
      border-left-color: #566473; }
    .button_1.but-button.but-button:hover:after, .button_1.but-button.but-button:hover:before {
      width: 100%;
      height: 100%; }

.section-title a {
  color: black;
  text-decoration: none;
  transition: 0.3s ease-in;
  cursor: pointer; }
  .section-title a:hover {
    color: #1872bf; }

#themes #filter {
  text-align: left; }
  #themes #filter li {
    display: inline-block;
    margin: 20px; }
    #themes #filter li span {
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 10px;
      transition: all 0.3s ease-in; }
      #themes #filter li span:hover {
        border-bottom-color: #1872bf; }
      #themes #filter li span:hover a {
        text-decoration: none; }
    #themes #filter li a {
      font-size: 20px;
      color: black;
      transition: all 0.3s ease-in; }
  #themes #filter .activeLink span {
    border-bottom-color: #1872bf; }
  #themes #filter .activeLink a {
    color: #1872bf; }
#themes .card .card-body button {
  display: block;
  margin: auto;
  border-radius: 20px; }
  #themes .card .card-body button a {
    color: #1872bf;
    cursor: pointer; }

.btn-all {
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  text-decoration: none; }

.card-img-top {
  padding: 5px; }

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s ease-in; }
  .card-title:hover {
    text-overflow: unset;
    white-space: unset; }

.main-links {
  cursor: pointer; }

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }
@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }
  .scroll-btn > * {
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px; }
    .scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *.active {
      color: #ffffff; }
    .scroll-btn > *:hover, .scroll-btn > *:focus, .scroll-btn > *:active, .scroll-btn > *.active {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 30px auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px; }
    .scroll-btn .mouse > * {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: #1872bf;
      border-radius: 50%;
      -webkit-animation: ani-mouse 2.5s linear infinite;
      -moz-animation: ani-mouse 2.5s linear infinite;
      animation: ani-mouse 2.5s linear infinite; }

input[type=text] {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background: transparent url("../../assets/images/search.png") no-repeat 0;
  background-size: contain;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  color: black;
  transition: width 0.4s ease-in-out; }
  input[type=text]:focus {
    background-color: whitesmoke; }

#search-result {
  margin: 20px auto;
  width: 50%; }
  #search-result ul {
    list-style-type: none; }
    #search-result ul li {
      z-index: 9999;
      cursor: pointer; }
      #search-result ul li img {
        margin: 10px;
        height: 50px !important; }

.btn-container {
  justify-content: center;
  margin-top: 10px; }
  .btn-container button {
    border: 0; }
  .btn-container .selected {
    background-color: #f8f9fa;
    color: black; }

.training-item {
  background-size: cover;
  background: no-repeat center center;
  height: 200px; }
  .training-item .training-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  .training-item .course-links {
    color: white;
    text-align: center;
    z-index: 10;
    font-size: 25px;
    margin-top: 75px;
    text-decoration: none; }

h5 a {
  text-decoration: none;
  cursor: pointer;
  color: #1872bf !important; }

#toast {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
  width: 20%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden; }
  #toast.show {
    visibility: visible;
    animation: fadeInOut 3s; }

@media screen and (max-width: 993px) {
  #background {
    height: 400px; }

  #filter-container {
    padding-left: 0; } }
@media screen and (max-width: 768px) {
  .scroll-btn {
    display: none; }

  #background {
    height: 300px;
    background-attachment: scroll; }
    #background #background-text {
      padding-top: 10%; }

  .section-title, #filter {
    text-align: center !important; }

  #search {
    display: none; } }
@media screen and (max-width: 600px) {
  #background {
    height: 200px; }
    #background #background-text button {
      display: none; }

  #toast {
    width: 70%; } }

/*# sourceMappingURL=home.component.css.map */
