<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="failedMsg">
    {{failedMsg}}
  </div>
  <div class="mt-3" *ngIf="loaderFinished">
    <div role="tabpanel">
      <div class="container">
        <div class="row mt-2 mb-3">
          <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let course of courses">
            <div class="card training-item" [ngStyle]="{'background-image': 'url(' + course.image + ')'}">
              <a routerLink="./{{course.slug}}/{{course.id}}" class="course-links">
                {{course.title}}
              </a>
              <div class="training-item-overlay" [style.backgroundColor] = course.color>
              </div>
            </div>
          </div>




        </div>




      </div>


    </div>

  </div>
</div>

