$main-color: #1872bf
.training-item
  background-size: cover
  background: no-repeat center center
  height: 200px
  .training-item-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0.5

  .course-links
    color: white
    text-align: center
    z-index: 10
    font-size: 25px
    margin-top: 75px
    text-decoration: none
