<section>
  <div class="theme-id">
    <div class="container">
      <div class="row" id="head">
        <div class="col-sm-12">
          <h4>{{pageTitle}}</h4>
        </div>
      </div>
    </div>
  </div>
<div class="row" id="pills">
  <div class="col-md-4 col-sm-12">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-essential" role="tab" aria-controls="v-pills-essential" aria-selected="true">اخر الاشعارات</a>
    </div>
    <ul class="list-group list-group-flush mt-3" *ngIf="loaderFinished">
      <li class="list-group-item text-center alert-info" *ngFor="let notification of lastNotifications" [class.seen]="notification.seen === '1'">
        <b class="link" (click)="goToLink(notification.item_id , notification.type, notification.id, notification.slug)">{{notification.title}}</b>


        <span class="badge badge-warning" *ngIf="notification.type === 'theme'"> قوالب </span>
        <span class="badge badge-dark" *ngIf="notification.type === 'service'"> خدمات </span>
        <span class="badge badge-success" *ngIf="notification.type !== 'theme' && notification.type !== 'service'">{{notification.type}}</span>
        <p class="text-muted">{{notification.created_at | date: 'MMM d, y, h:mm a'}}</p>
      </li>

    </ul>
  </div>
  <div class="col-md-8 col-sm-12 mt-sm-2">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-essential" role="tabpanel">
        <div class="lds-roller" *ngIf="!loaderFinished">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

          <div class="alert alert-danger" *ngIf="noNotification" role="alert">
            لا يوجد لديك اي اشعارات حتي الان !
          </div>
        <div id="allNotifications">
        <ul class="list-group list-group-flush" *ngIf="loaderFinished">
          <li class="list-group-item text-center alert-info" *ngFor="let notification of notifications" [class.seen]="notification.seen === '1'">
            <b class="link" (click)="goToLink(notification.item_id , notification.type, notification.id, notification.slug)">{{notification.title}}</b>


            <span class="badge badge-warning" *ngIf="notification.type === 'theme'"> قوالب </span>
            <span class="badge badge-dark" *ngIf="notification.type === 'service'"> خدمات </span>
            <span class="badge badge-success" *ngIf="notification.type !== 'theme' && notification.type !== 'service'">{{notification.type}}</span>
          <p class="text-muted">{{notification.created_at | date: 'MMM d, y, h:mm a'}}</p>
          </li>

        </ul>
        </div>
      </div>

    </div>
  </div>
</div>
</section>
