$main-color: #1872bf
.theme-id
  background: $main-color
  width: 100%
  padding: 10px
  margin-bottom: 30px
  #head
    color: white
#pills
  margin-left: 0
  margin-right: 0
  .nav
    border: 1px solid #eeeeee
    padding: 20px
    a
      margin: 10px
  .tab-content
    border: 1px solid #eeeeee
    padding: 20px
  .btn
    display: block
    margin: auto

li
  &:hover
    background-color: aliceblue
.link
  cursor: pointer
.seen
  background-color: aliceblue
  font-weight: 600
  color: darkgrey
#allNotifications
  height: 400px
  overflow-y: auto
  overflow-x: hidden
