<div class="tab-pane" id="v-pills-non" role="tabpanel">
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorServicesNonActive">
    {{errorServicesNonActive}}
  </div>
  <div class="row" *ngIf="loaderFinished">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let service of myServicesNonActivePaid; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{service.image}}" alt="theme-item">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="gotoServiceNonActive(service.id)">{{service.title}}</a> </h5>
          <p class="card-text">
          <p class="text-center m-2">

            <span><i class="far fa-clock"></i></span>

          </p>

        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit('free',service.id,service.slug)"> تعديل الخدمه </button>
        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteTheme(myServicesNonActivePaid,service.id, i)"> حذف الخدمه </button>
      </div>
    </div>


  </div>


</div>

<div id="toast"></div>
