<div class="theme-id">
  <div class="container">
    <div class="row head">
      <div class="col-sm-12">
        <h4> {{pageTitle}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3">
<form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
  <img src="../../assets/images/7bc30728b3091c6356bda1e4c8b6fbf2.png">
  <div class="form-group">
    <label for="name">الاسم</label>
    <input type="text" class="form-control" id="name" formControlName="name" required>
    <small id="nameHelp" class="form-text text-muted">
      لابد ان يحتوي الاسم علي 3 احرف او اكثر ولا يحتوي علي علامات خاصه
    </small>
  </div>
  <div class="form-group">
    <label for="mail">الايميل</label>
    <input type="email" class="form-control" id="mail" formControlName="email" required>
  </div>
  <div class="form-group">
    <label for="phone">الهاتف</label>
    <input type="number" class="form-control" id="phone" formControlName="phone" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="password">كلمه المرور</label>
      <input type="password" class="form-control" id="password" formControlName="password" required>
      <small id="passwordHelp" class="form-text text-muted">
        لابد ان تحتوي كلمه المرور علي 8 احرف او اكثر وتحتوي علي علامات خاصه او ارقام
      </small>
    </div>
    <div class="form-group col-md-6">
      <label for="conf-password">تأكيد كلمه المرور</label>
      <input type="password" class="form-control" id="conf-password" formControlName="conf" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">انضم الان</button>
  <a routerLink="/login" id="signIn" class="mt-4"> تسجيل دخول</a>
</form>

  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="successRegister === false">
    {{errorData}}
  </div>


  <div class="alert alert-success text-center mt-2" role="alert"  *ngIf="successRegister">
    تم التسجيل بنجاح
  </div>

</div>

