form
  border: 1px solid #eeee
  padding: 20px
  box-shadow: 1px 2px 1px 1px #eeee
  img
    display: block
    margin: auto
    border-radius: 50%
  #signIn
    display: flex
    justify-content: center
#ads
  img
    width: 100%
