<div class="tab-pane" id="v-pills-non" role="tabpanel">
  <div class="lds-roller" *ngIf="!loaderFinished">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="alert alert-danger text-center mt-2" role="alert" *ngIf="errorArticlesNonActive">
    {{errorArticlesNonActive}}
  </div>
  <div class="row" *ngIf="loaderFinished">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3"  *ngFor="let article of myArticlesNonActive; let i = index">
      <div class="card">
        <img class="card-img-top" src="{{article.image}}" alt="theme-item">
        <div class="card-body">
          <h5 class="card-title text-center"><a (click)="gotoArticleNonActive(article.id)">{{article.title}}</a> </h5>
          <p class="card-text">
          <p class="text-center m-2">

            <span><i class="far fa-clock"></i></span>
          </p>
          <p class="text-center m-2"><span class="badge badge-info">{{videosNonActiveCategory[i]}}</span></p>



        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-primary border-0" (click)="gotoEdit(article.category_id,article.id,article.slug)"> تعديل المقاله </button>
        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteArticle(myArticlesNonActive,article.id, i, videosNonActiveCategory)"> حذف المقاله </button>
      </div>
    </div>


  </div>


</div>
<div id="toast"></div>
